/* deprecated */
/*-- Sammelstyles fuer Inhalte der default_module.js --*/
.eventinfo {
  background-color: black;
  opacity: 0.6;
  font-size: 9pt;
  color: white;
  width: 100px;
  position: fixed;
  z-index: 100;
  padding: 2px 7px;
  pointer-events: none; }

/* Windmill Modal */
.windmill-modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  font-size: 16pt;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.windmill-modal.modal-enabled {
  opacity: 0.5;
  transition: opacity 0.5s; }

.modal-big {
  font-size: 24pt; }

@font-face {
  font-family: 'icomoon';
  src: url("chrome://windmill/skin/icomoon.ttf?-icmbrc") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale; }

.icon-32,
.icon-24,
.icon-16 {
  cursor: default; }

.icon-16 {
  font-size: 16px; }

.icon-24 {
  font-size: 24px; }

.icon-32 {
  font-size: 32px;
  color: white; }

.icon-clonkpath:before {
  content: "\e90b"; }

.icon-console:before {
  content: "\e90c"; }

.icon-eye:before {
  content: "\e90d"; }

.icon-reload-2:before {
  content: "\e90e"; }

.icon-workspace:before {
  content: "\e90f"; }

.icon-environment:before {
  content: "\e903"; }

.icon-landscape:before {
  content: "\e904"; }

.icon-objects:before {
  content: "\e906"; }

.icon-reload:before {
  content: "\e908"; }

.icon-wireframe2:before {
  content: "\e909"; }

.icon-canvas-scale:before {
  content: "\e900"; }

.icon-reflect-h:before {
  content: "\e901"; }

.icon-reflect-v:before {
  content: "\e902"; }

.icon-undo:before {
  content: "\e965"; }

.icon-redo:before {
  content: "\e966"; }

.icon-bg-filled:before {
  content: "\e629"; }

.icon-grid:before {
  content: "\e631"; }

.icon-restore:before {
  content: "\e632"; }

.icon-transparent:before {
  content: "\e633"; }

.icon-the-mill:before {
  content: "\e634"; }

.icon-warning:before {
  content: "\e635"; }

.icon-wireframe:before {
  content: "\e636"; }

.icon-empty-space:before {
  content: "\e637"; }

.icon-draw-line:before {
  content: "\e62b"; }

.icon-erase:before {
  content: "\e62c"; }

.icon-fill-circle:before {
  content: "\e62d"; }

.icon-fill-rect:before {
  content: "\e62e"; }

.icon-select-poly:before {
  content: "\e62f"; }

.icon-cursor:before {
  content: "\e630"; }

.icon-doc-backwards:before {
  content: "\e601"; }

.icon-continue-at-start:before {
  content: "\e625"; }

.icon-snippet:before {
  content: "\e628"; }

.icon-whole-word:before {
  content: "\e60a"; }

.icon-csense:before {
  content: "\e61a"; }

.icon-editor-frame:before {
  content: "\e627"; }

.icon-paint-bucket:before {
  content: "\e603"; }

.icon-magic-wand:before {
  content: "\e997"; }

.icon-volume-high:before {
  content: "\ea26"; }

.icon-volume-mute2:before {
  content: "\ea2a"; }

.icon-select-rect:before {
  content: "\e61f"; }

.icon-select-circle:before {
  content: "\e620"; }

.icon-arrow-down:before {
  content: "\e621"; }

.icon-arrow-left:before {
  content: "\e622"; }

.icon-arrow-right:before {
  content: "\e623"; }

.icon-arrow-up:before {
  content: "\e624"; }

.icon-measure:before {
  content: "\e626"; }

.icon-bars-ref-1-3:before {
  content: "\e600"; }

.icon-backwards:before {
  content: "\e604"; }

.icon-backwards_sharp:before {
  content: "\e605"; }

.icon-x:before {
  content: "\e602"; }

.icon-maximize:before {
  content: "\e60e"; }

.icon-minimize:before {
  content: "\e60f"; }

.icon-multisource:before {
  content: "\e610"; }

.icon-play:before {
  content: "\e611"; }

.icon-add-player:before {
  content: "\e62a"; }

.icon-ref-2-3:before {
  content: "\e613"; }

.icon-ref-3-3:before {
  content: "\e614"; }

.icon-save:before {
  content: "\e617"; }

.icon-search:before {
  content: "\e618"; }

.icon-stop:before {
  content: "\e619"; }

.icon-trashbin:before {
  content: "\e61b"; }

.icon-pencil:before {
  content: "\e905"; }

.icon-quill:before {
  content: "\e907"; }

.icon-eyedropper:before {
  content: "\e90a"; }

.icon-folder:before {
  content: "\e92f"; }

.icon-spinner11:before {
  content: "\e984"; }

.icon-git:before {
  content: "\eae2"; }

.icon-brackets:before {
  content: "\e606"; }

.icon-cam:before {
  content: "\e607"; }

.icon-checked:before {
  content: "\e608"; }

.icon-controller:before {
  content: "\e609"; }

.icon-gear:before {
  content: "\e60b"; }

.icon-heartbeat:before {
  content: "\e60c"; }

.icon-lock:before {
  content: "\e60d"; }

.icon-players:before {
  content: "\e612"; }

.icon-resource_saviour:before {
  content: "\e615"; }

.icon-runtimejoin:before {
  content: "\e616"; }

.icon-trophy:before {
  content: "\e61c"; }

.icon-update:before {
  content: "\e61d"; }

.icon-world:before {
  content: "\e61e"; }

.icon-git-modified:before {
  content: "M"; }

.icon-git-added:before {
  content: "A"; }

.icon-git-deleted:before {
  content: "D"; }

.icon-git-renamed:before {
  content: "R"; }

.icon-git-copied:before {
  content: "C"; }

.icon-git-updatedUnmerged:before {
  content: "U"; }

.icon-git-untracked:before {
  content: "?"; }

.icon-open-external:before {
  content: "E"; }

.icon-documentation:before {
  content: "?"; }

.icon-screenshots:before {
  content: "\e904"; }

.icon-error:before {
  content: "\e90c"; }

.icon-mapwidth:before {
  content: "W"; }

.icon-mapheight:before {
  content: "H"; }

.icon-mapzoom:before {
  content: "Z"; }

.icon-noscan:before {
  content: "NoSc"; }

.icon-map-player-extend:before {
  content: "MPE"; }

.icon-amplitude:before {
  content: "A"; }

.icon-phase:before {
  content: "Ph"; }

.icon-period:before {
  content: "Pe"; }

.icon-random:before {
  content: "Rnd"; }

.icon-liquidlevel:before {
  content: "LL"; }

.icon-borders:before {
  content: "B"; }

.icon-border-top:before {
  content: "BT"; }

.icon-border-right:before {
  content: "BR"; }

.icon-border-bottom:before {
  content: "BB"; }

.icon-border-left:before {
  content: "BL"; }

.icon-auto-scan-side:before {
  content: "AutoS"; }

.icon-singleplayer:before {
  content: "\e62a"; }

.icon-password:before {
  content: "Pw"; }

.icon-comment:before {
  content: "C"; }

.icon-startgame:before {
  content: "St"; }

window {
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  background-color: #ebebeb; }

splitter {
  -moz-appearance: none;
  /* kill the border, it won't work either like we want it to*/
  border-width: 0;
  outline: 1px solid gainsboro;
  outline-offset: -1px;
  width: 3px;
  background-color: whitesmoke; }

splitter * {
  -moz-appearance: none;
  outline: none; }

/** Audioplayer **/
#audioplayer {
  transition: height 0.3s; }

#audioplayer.active {
  height: 33px; }

/** Navigation **/
.modules-nav,
toolbar,
toolbox {
  -moz-appearance: none;
  border: none;
  background: none; }

.modules-nav {
  overflow: hidden; }

.deck-nav-elm {
  padding: 5px 5px;
  height: 1em;
  transition: background-color 0.15s, color 0.6s;
  cursor: pointer;
  box-sizing: border-box;
  color: #505050; }

.deck-nav-elm.active,
.deck-nav-elm.active:hover {
  color: #505050;
  background-color: whitesmoke; }

.deck-nav-elm.state-unsaved {
  color: #dc4632; }

.deck-nav-elm:hover {
  background-color: #fafafa; }

.close-button {
  width: 14px;
  height: 14px;
  max-height: 14px;
  color: grey;
  padding: 0 0 0 2px;
  margin: 0 0 0 .3em;
  border-radius: 14px;
  -moz-box-align: center;
  font-size: 10px; }

.close-button:hover {
  color: #fafafa;
  background-color: #dc4632;
  outline: 2px solid #dc4632; }

.deck-desc {
  color: #b4b4b4;
  margin: auto; }

.deckbox {
  display: none; }

.deck-visible {
  display: -moz-box; }

button:focus,
button:focus *,
toolbarbutton:focus,
toolbarbutton:focus * {
  outline: none; }

/* Navigation Scrolling */
.deck-nav-scrollbar {
  background-color: #d8d8d8;
  height: 2px;
  overflow: hidden; }

.deck-nav-scroller {
  background-color: #2e9afe; }

.deck-nav-scrollelement {
  transition: width 0.3s; }

#sidedeck-scroller {
  background-color: #fca302; }

@font-face {
  font-family: 'icomoon';
  src: url("chrome://windmill/skin/icomoon.ttf?-icmbrc") format("truetype");
  font-weight: normal;
  font-style: normal; }

.deckbtn-scroll {
  padding: 3px 4px;
  height: 1em;
  width: 14px;
  cursor: pointer; }

.deckbtn-scrollLeft:before {
  content: "\e622"; }

.deckbtn-scrollRight:before {
  content: "\e623"; }

.deckbtn-scrollLeft,
.deckbtn-scrollRight {
  color: grey;
  font-family: 'icomoon';
  font-size: 10px; }

.deckbtn-scrollLeft:hover,
.deckbtn-scrollRight:hover {
  color: #505050; }

.deckbtn-scrollLeft.deckbtn-scrollDisabled,
.deckbtn-scrollRight.deckbtn-scrollDisabled {
  color: #c8c8c8;
  cursor: default; }

.deckbtn-scrollhide {
  display: none; }

.tooltip-tabbutton *,
.tooltip-tabbutton {
  -moz-window-shadow: none;
  box-shadow: none;
  -moz-appearance: none;
  color: #505050;
  border: none; }

.tooltip-tabbutton {
  background-color: transparent;
  font-size: 14px;
  padding: 0; }

.tooltip-tabbutton > * {
  padding: 2px 5px;
  background-color: #ebebeb;
  border: 1px solid gainsboro;
  margin: 0; }

/*deck {
    transition: box-shadow 0.3s;
}*/
.dragover-sidedeck-right {
  box-shadow: inset 5px 0 0 0 rgba(250, 169, 0, 0.7); }

.dragover-sidedeck-bottom {
  box-shadow: inset 0 5px 0 0 rgba(250, 169, 0, 0.7); }

.dragover-sidedeck-left {
  box-shadow: inset 5px 0 0 0 rgba(250, 169, 0, 0.7); }

.dragover-sidedeck-top {
  box-shadow: inset 0 -5px 0 0 rgba(250, 169, 0, 0.7); }

.dragover-deck {
  outline: 5px solid rgba(250, 169, 0, 0.7);
  outline-offset: -5px; }

/*	need some space	*/
