html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: $clr-text-ui;
}

body {
	display: flex;
	align-items: center;
	background-color: $clr-module-bg;
	font-family: $font-stack;
}

#progressmeter {
	position: absolute;
	height: 10px;
	background-color: rgb(180, 180, 180);
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 7px solid $clr-module-bg;
	transition: border-bottom-width 0.3s;
	box-sizing: border-box;
}

#progressmeter:hover {
	border-bottom-width: 0px;
}

#progressneedle {
	background-color: $clr-red;
	height: 100%;
	width: 0%;
	transition: width 1s;
}
#progressneedle.no-update {
	transition: width 0s;
}


#interface {
	flex: 1;
	display: flex;
	padding: 3px 5px 0 5px;
	align-items: center;
}

.time-display {
}

#time-tooltip {
	position: absolute;
	font-size: 0.6em;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	opacity: 0;
	
	transition: opacity 0.4s;
	padding: 0 2px;
	pointer-events: none;
}
#time-tooltip.active {
	opacity: 1;
}

#button-wrapper {
	display: flex;
	justify-content: center;
	flex: 1;
}

.button {
	color: rgb(160, 160, 160);
	margin: 5px;
}

.button:hover {
	color: rgb(80, 80, 80);
}

.button.active {
	color: $clr-red;
	
	&:hover {
		color: $clr-red;
	}
}

#button-play.pause:before {
	@include -stop();
}

#volume-overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	
	display: none;
	background-color: rgb(245, 245, 245);
	align-items: center;
	padding: 0 3px;
	border-top: 1px solid rgb(180, 180, 180);
}

#volume-overlay.visible {
	display: flex;
}

#close-volume-overlay {
	border-left: 1px solid rgb(180, 180, 180);
	padding: 0 3px;
}

#currentvolume-wrapper {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 0 5px;
	height: 100%;
}

#currentvolume {
	height: 5px;
	background-color: $clr-red;
}

#currentvolume-filler {
	flex: 1;
	height: 5px;
	background-color: rgb(180, 180, 180);
}

#button-volume.muted:before,
#toggle-volume.muted:before {
	@include -volume-mute2();
}