.toolbar { 
	height: 24px;
	background-color: $clr-base;
	border-bottom: 1px solid $clr-empty;
	color: $ui-text-clr;
	padding-left: 10px;
} 

.toolbar-option {
	width: 60px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	
	&:hover { 
		background-color: grey;
		color: $clr-paper;
	}
}

#menu-list {
	-moz-appearance: none;
	background: transparent;
	outline: 1px solid yellow;
	padding: 0;
	border: 1px solid gainsboro;
	color: rgb(40, 40, 40);
	
	.checked:before {
		@include -checked();
		color: $interact-blue;
		letter-spacing: 0;
		font-family: 'icomoon';
		margin-right: -5px;
		font-size: 16px;
		line-height: 16px;
	}
}

#menu-list > * {
	background-color: rgb(235, 235, 235);
}

.ce-menu {
	line-height: 24px;
	color: grey;
	
	&:hover {
		color: $ui-text-clr;
	}
}

#searchinput {
	margin: 0px;
	border: 0px;
	-moz-appearance: none;
	background-color: #fff;
	border-bottom: 1p solid gainsboro;
	font-size: 1.2em;
	
	transition: height 0.5s;
}

#searchinput.hidden {
	height: 0px;
	padding: 0px;
}

.searchinput:before { 
	content: '\e618  ';
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	-moz-osx-font-smoothing: grayscale;
}