.toolbar { 
	height: 24px;
	background-color: $clr-base;
	border-bottom: 1px solid $clr-empty;
	color: $clr-text-ui;
	padding-left: 10px;
} 

.toolbar-option {
	width: 60px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	
	&:hover { 
		background-color: grey;
		color: $clr-paper;
	}
}

#ce-popup {
	-moz-appearance: none;
	background: transparent;
	padding: 0;
	border: none;
	border-bottom: 1px solid $clr-border;
	outline: none;
	color: rgb(40, 40, 40);
	
	opacity: 0;
	transform: translate(0, -5px);
	transition: opacity .3s, transform .3s;
	
	&.shown {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.cep-wrapper {
	padding: 5px;
}

.cep-option {
	padding: 3px 5px;
	
	&:hover {
		background-color: $clr-paper;
	}
	
	&:before {
		@include -checked();
		color: transparent;
		letter-spacing: 0;
		font-family: 'icomoon';
		font-size: 16px;
		line-height: 16px;
		height: 1em;
		padding-top: 5px;
		cursor: default;
	}
	
	&.checked:before {
		color: $clr-blue;
	}
}

#ce-popup > * {
	background-color: $clr-empty;
}

#ce-popup-btn {
	line-height: 24px;
	color: grey;
	
	&:hover {
		color: $clr-text-ui;
	}
}

#searchinput {
	margin: 0px;
	border: 0px;
	-moz-appearance: none;
	background-color: #fff;
	border-bottom: 1p solid gainsboro;
	font-size: 1.2em;
	
	transition: height 0.5s;
}

#searchinput.hidden {
	height: 0px;
	padding: 0px;
}

.searchinput:before { 
	content: '\e618  ';
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	-moz-osx-font-smoothing: grayscale;
}