window {
	font-family: $font-stack;
	background-color: $clr-empty;
}

splitter {
	-moz-appearance: none;
	
	/* kill the border, it won't work either like we want it to*/
	border-width: 0;
	outline: 1px solid gainsboro;
	outline-offset: -1px;
	width: 3px;
	background-color: $clr-base;
}

splitter * {
	-moz-appearance: none;
	outline: none;
}

/** Audioplayer **/

#audioplayer {
	transition: height 0.3s;
}

#audioplayer.active {
	height: 33px;
}

/** Navigation **/

.modules-nav,
toolbar,
toolbox {
	-moz-appearance: none;
	border: none;
	background: none;
}

.modules-nav {
	overflow: hidden;
}

.deck-nav-elm {
	padding: 5px 5px;
	height: 1em;
	transition: background-color 0.15s, color 0.6s;
	cursor: pointer;
	box-sizing: border-box;
	color: $ui-text-clr;
}

.deck-nav-elm.active,
.deck-nav-elm.active:hover {
	color: $ui-text-clr;
	background-color: $clr-base;
}

.deck-nav-elm.state-unsaved {
	color: $interact_red;
}

.deck-nav-elm:hover {
	background-color: $clr-paper;
}

.close-button {
	width: 14px;
	height: 14px;
	max-height: 14px;
	color: grey;
	
	padding: 0 0 0 2px;
	margin: 0 0 0 .3em;
	
	border-radius: 14px;
	
	-moz-box-align: center;
	font-size: 10px;
}

.close-button:hover {
	color: $clr-paper;
	background-color: $interact-red;
	outline: 2px solid $interact-red;
}

.deck-desc {
	color: rgb(180, 180, 180);
	margin: auto;	
}

.deckbox {
	display: none;
}

.deck-visible {
	display: -moz-box;
}

button:focus, 
button:focus *, 
toolbarbutton:focus, 
toolbarbutton:focus  *{
	outline: none;
}

/* Navigation Scrolling */

.deck-nav-scrollbar {
	background-color: #d8d8d8;
	height: 2px;
	overflow: hidden;
}
.deck-nav-scroller {
	background-color: #2e9afe;
}
.deck-nav-scrollelement {
	transition: width 0.3s;
}

#sidedeck-scroller {
	background-color: rgb(252,163,2);
}

@font-face {
	font-family: 'icomoon';
	src:url('chrome://windmill/skin/icomoon.ttf?-icmbrc') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.deckbtn-scroll {
	padding: 3px 4px;
	height: 1em;
	width: 14px;
	cursor: pointer;
}

.deckbtn-scrollLeft:before {
	content: "\e622";
}

.deckbtn-scrollRight:before {
	content: "\e623";
}

.deckbtn-scrollLeft,
.deckbtn-scrollRight {
	color: grey;
	font-family: 'icomoon';
	font-size: 10px;
}

.deckbtn-scrollLeft:hover ,
.deckbtn-scrollRight:hover {
	color: $ui-text-clr;
}

.deckbtn-scrollLeft.deckbtn-scrollDisabled,
.deckbtn-scrollRight.deckbtn-scrollDisabled {
	color: rgb(200, 200, 200);
	cursor: default;
}

.deckbtn-scrollhide {
	display: none;
}

.tooltip-tabbutton *,
.tooltip-tabbutton {
	-moz-window-shadow: none;
	box-shadow: none;
	-moz-appearance: none;
	
	color: $ui-text-clr;
	border: none;
}

.tooltip-tabbutton {
	background-color: transparent;
	font-size: 14px;
	padding: 0;
}

.tooltip-tabbutton > * {
	padding: 2px 5px;
	background-color: $clr-empty;
	border: 1px solid gainsboro;
	margin: 0;
}

/*deck {
    transition: box-shadow 0.3s;
}*/
 
.dragover-sidedeck-right {
    box-shadow: inset 5px 0 0 0 $interact-orange;
}
 
.dragover-sidedeck-bottom {
	box-shadow: inset 0 5px 0 0 $interact-orange;
}

.dragover-sidedeck-left {
	box-shadow: inset 5px 0 0 0 $interact-orange;
}

.dragover-sidedeck-top {
	box-shadow: inset 0 -5px 0 0 $interact-orange;
}

.dragover-deck {
	outline: 5px solid $interact-orange;
	outline-offset: -5px;
}

/*	need some space	*/