window {
	background-color: $chrome-clr;
	font-family: $font-stack;
	outline: 1px solid black;
	outline-offset: -1px;
}

window.maximized resizer {
	display: none;
}

window.maximized .maximize-window,
.restore-window {
	display: none;
}

.maximize-window,
window.maximized .restore-window {
	display: initial;
}


#window-title {
	text-align: center;
	font-smooth: always;
	-moz-osx-font-smoothing: greyscale;
}

.window-buttons-container > * {
	pointer-events: auto;
}

.window-button {
	padding: 0 3px;
	color: rgb(150, 150, 150);
	cursor: default;
	padding: 0 initial;
	
	&:hover {  
		background-color: rgb(80, 80, 80);
	}
}

#modules-wrapper {
	filter: blur(0px);
	transition: filter 0.8s;
	transition-delay: 0.3s;
}
#modules-wrapper.startup-loading {
	filter: blur(3px);
}

resizer {
	-moz-appearance: none;
	background-color: transparent;
	height: 4px;
	width: 4px;
	border: 2px solid transparent;
}

.icon-the-mill {
  -moz-animation: windmill 2s infinite;
  -moz-animation-timing-function: linear;
}

@-moz-keyframes windmill {
    0%  {-moz-transform: rotate3d(0, 0, 1, 0deg);}
  100%  {-moz-transform: rotate3d(0, 0, 1, 360deg);}
}
@keyframes windmill {
    0%  { transform: rotate(0deg);}
  100%  { transform: rotate(360deg);}
}

toolbox, toolbarbutton, toolbar, button, #header {
	-moz-appearance: none;
	border: none;
	font-size: 14px;
	
	background-color: $chrome-clr;
	color: rgb(200, 200, 200);
}

#modules-nav > *{
	pointer-events: auto;
}

#modules-nav spacer{
	pointer-events: none;
}

.quickjoin {
	transition: color 0.3s;
}
.quickjoin:hover {
	color: white;
	cursor: pointer;
}

#nav-playername {
	font-weight: 600;
	font-size: 18px;
	color: white;
	padding-left: 1em;
	padding-right: 0.2em;
	padding-top: 3px;
}

#inner-navigation button {
	color: whitesmoke;
	border: none;
	margin: 0;
	height: 32px;
	line-height: 40px;
	background-color: inherit;
	
	transition: background-color 0.1s;
	
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
}

#inner-navigation button:hover {
	background: $chrome-ui-active;
}

#inner-navigation button.active {
	background: $chrome-ui-active;
}

caption {
	background-color: inherit;
}

.draft {
	display: none;
}

/* main mode */

.mm-buttons {
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: translate(-5px, 0);
}

.main-mode-ui {
	color: whitesmoke;
	pointer-events: none;
	
	label {
		font-size: 12px;
		line-height: 12px;
		padding: 3px 16px;
	}
	
	&.cBridge .mm-play-wrapper {
		background: $chrome-ui-active;
	}
	
	&:not(.cBridge) .mm-dev-wrapper {
		background: $chrome-ui-active;
	}
	
	&.cBridge .icon-brackets:before {
		@include -controller();
	}
	
	&.loaded .mm-buttons {
		opacity: 1;
		transform: translate(0, 0)
	}
	
	&.loaded #mm-svg {
		display: -moz-box;
	}
}

.mm-dev-wrapper,
.mm-play-wrapper {

	background-color: $chrome-clr-sub;
	
	&:hover {
		background-color: rgb(80, 80, 80);
	}
}

.mm-dev-wrapper {
	transform: skew(45deg);
}

.mm-play-wrapper {
	transform: skew(-45deg);
}

.mm-dev {
	pointer-events: auto;
	transform: skew(-45deg);
}

.mm-play {
	pointer-events: auto;
	transform: skew(45deg);
}

.mm-icon-wrapper {
	transform: rotate(45deg);
	background-color: $chrome-clr-sub;
}

.mm-icon-wrapper-sub {
	transform: rotate(-45deg);
}

.mm-icon {
	transition: background-color 0.1s,
				opacity 1s;
	
	pointer-events: auto;
	height: 32px;
	width: 32px;
	padding: 3px;
}

#mm-svg {
	display: none;
}

#mm-svg path{
    stroke: $clr-paper;
    stroke-width: 2px;
    stroke-linecap: round;
	transition: stroke-width 0.3s;
    fill: none;
}

.main-mode-ui.cBridge #mm-svg-to-upper-button,
.main-mode-ui.cBridge #mm-svg-to-lower-button {
	stroke-width: 4px;
}


.nav-image:hover  {
	background: $chrome-ui-active;
}

.nav-image {
	vertical-align:  middle;
	transition: background-color 0.1s;
}

.nav-image.deactivated {
	color: #999;
}

.nav-image.deactivated:hover {
	background: rgb(80, 80, 80);
}

#cide-toolbar { padding-top: 5px; }

.cide-tb-seperator  { width: 10px; }


button:focus, 
button:focus *, 
toolbarbutton:focus, 
toolbarbutton:focus  *{
	outline: none;
}

/* player selection */

.plr-page {
	display: none;
}

caption {
	font-size: 16pt;
	font-weight: bold;
}

#pd-lastround {
	font-size: 14pt;
}

#ps-playerlist {
	overflow: auto;
}

.sidebar {
	background-color: rgb(245, 245, 245);
	height: 100%;
	width: 300px;
	max-width: 300px;
	overflow: hidden;
	transition: width 0.3s;
	color: rgb(60, 60, 60);
	border-left: 1px solid gainsboro;
	box-sizing: border-box;
}

.sidebar.invisible {
	width: 0px !important;
	border-left-width: 0px;
}

#ps-playerdetails {
	display: none;
}

.ps-playerlistitem,
.cds-listitem {
	height: 50px;
	padding: 10px;
	cursor: default;
	transition: border-color 0.3s;
	border-left: 3px solid transparent;
}

.ps-playerlistitem:hover,
.cds-listitem:hover {
	border-left-color: grey;
}

.ps-playerlistitem.selected  {
	border-left-color: $interact-red;
}

.cds-listitem.selected {
	border-left-color: #0A4163;
}

.cds-lbl-directory { font-size: 10pt; }

.lastround {
	display: none !important;
}

#ps-pdname {
	margin-left: 0;
	font-weight: normal;
}

.img-psbutton {
	cursor: pointer;
	color: white;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
}

.img-psbigicon {
	/*background-color: rgb(55, 85, 205);*/
}

.ps-iconlist {
	color: rgb(180, 180, 180);
}

.ps-iconlist .icon-24:hover {
	color: grey;
}

.lbl-psplayername {
	text-align: right;
}

.ps-lblbutton {
	background-color: rgb(95, 135, 255);
	text-align: center;
	cursor: pointer;
	padding: 2px 5px;
	margin: 2px 5px;
	display: none;
}
.plrpage-selected {
	display: -moz-box;
}

.ps-h {
	background: $interact-red;
	color: white;
	margin: 0;
	line-height: 1.6em;
	padding: 0.3em;
	padding-top: 0.2em;
	margin-bottom: 1em;
}

.cds-h {
	background: #0A4163;
}

.ps-h caption{
	font-weight: normal;
	font-size: 14pt;
	line-height: 20pt;
}

.ps-h image{
	vertical-align: baseline;
	cursor: pointer;
}

.ps-h-icon {
	&:hover,&.active{
		background-color: #C13A2B;
	}
}

.ps-b {
	padding: 0.5em;
}

.plr-page textbox,
.plr-page textbox  * {
	-moz-appearance: none;
	background-color: inherit;
	color: rgb(60, 60, 60);
}

#ap-plrname {
	border: none;
	border-bottom: 1px solid grey;
}

#ap-plrcomment {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

/*-- notification panel --*/

.notification-in {
	transform: translate(0px, 20px);
	opacity: 0;
}

.notification-out {
	transform: translate(20px, 0px);
	opacity: 0;
}

#notification-panel {
	width: 280px;
	border: none;
	opacity: 1;
	transform: translate(0px, 0px);
	transition: transform 0.3s,
				opacity 0.3s;
}

.notification-item {
	min-height: 90px;
	background-color: rgb(235,235,235);

	transition: background-color 0.3s;
}

.notification-item:hover {
	background-color: $clr-base;
}

.notification-head {
	width: 15px;
}
.notification-content {
	padding: 3px 0px 3px 8px;
}

.notification-title {
	font-size: 13pt;
	font-weight: 600;
	margin-left: 0px;
}

.notification-desc {
	
}

/*.notification-head {
	background-color: black;
	width: 100%;
}

.notification-close {
	background-color: rgb(222,87,70);
	color: white;
	width: 20px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	-moz-user-select: none;
}

.notification-close:hover {
	background-color: rgb(228, 121, 109);
}*/

#showgames-wrapper {
	display: none;
}

.togglemode-img {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	transition: background-color 0.3s, width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s, padding 0.3s, opacity 0.3s;
	opacity: 1;
}
.togglemode-img.activated {
	background-color: $interact-red;
}
.togglemode-img.invisible {
	margin-left: 18px;
	margin-top: 18px;
	margin-right: 18px;
	width: 0px;
	height: 0px;
	padding: 0px;
	opacity: 0;
}


/*-- Developer Log --*/


#developerlog, #gitlog {
	width: 800px;
	max-width: 800px;
	-moz-user-focus: normal;
}
#developerlog .ps-h {background-color: $chrome-clr;}
#gitlog .ps-h {background-color: rgb(241, 72, 33);}

#log-entrylist { overflow-y: scroll; }
#log-entrylist.show-hidden-logs > .log-listitem.hidden { display: -moz-box; }

.log-listitem {
	max-width: 100%;

	&:hover { background-color: #eee; }

	&.error {
		.log-listitem-type { background-color: #ff4e4e; }
		.log-listitem-content { background-color: #ffeded; }
		&:hover {
			.log-listitem-type { background-color: #ef3e3e; }
			.log-listitem-content { background-color: #efdddd; }
		}
	}
	&.sass {
		.log-listitem-type { background-color: #6ae35f; }
		.log-listitem-content { background-color: #d3f2d0; }
		&:hover {
			.log-listitem-type { background-color: #5ad34f; }
			.log-listitem-content { background-color: #c3e2c0; }
		}
	}

	&.hidden {
		text-decoration: italic;
		color: #777;
		display: none;
	}

	.log-listitem-type { width: 1em; }
	.log-listitem-content {
		padding-left: 1em;
		font-family: monospace;
		word-wrap: break-word;
		white-space: pre-wrap;
		-moz-user-select: text;
	}
}

#showLog {
	transition: color 1.5s;
}

.flashOnLog {
	transition: color 0s !important;
	color: #aaa !important;
}

.flashOnLog.error { color: #ff4e4e !important; }
.flashOnLog.sass { color: #6ae35f !important; }

/*-- Ladebildschirm --*/

#startup-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: $chrome-clr;
	font-size: 2.5em;
	color: white;
}

#modules-nav {
	transition: opacity 1s;
}

#modules-nav.startup-loading {
	visibility: hidden;
	width: 0px;
	opacity: 0;
}

/*	need some space	*/