$svg-url-the-mill: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><path fill='%23191e23' d='M29.48,24.609l-0.03-0.829l-0.229-5.47L29.2,17.859L28.77,17.74l-6.89-1.83l6.07-9.39l0.45-0.7L27.6,5.6
	L22.32,4.13l-0.43-0.12l-0.24,0.38l-3.881,6L10.72,1.72L10.2,1.08L9.73,1.76L6.69,6.32L6.45,6.7l0.28,0.35l4.51,5.54L0.79,16.62
	l-0.77,0.3l0.51,0.65l3.41,4.3l0.28,0.35l0.42-0.159l6.68-2.58l0.61,11.16l0.05,0.829l0.78-0.29l5.141-1.91l0.42-0.16L18.3,28.66
	l-0.39-7.13L28.7,24.4L29.48,24.609z M17.757,14.982l0.088,2.175l-0.3,0.106l-2.052,0.761l-0.212-0.267l-1.326-1.679l0.212-0.319
	l1.185-1.804l0.336,0.089l2.051,0.566L17.757,14.982z'/></svg>");

@mixin the-mill() {
	background-image: $svg-url-the-mill;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 60%;
}

window {
	background-color: $clr-chrome;
	
	font-family: $font-stack;
	outline: 1px solid black;
	outline-offset: -1px;
	
	&.maximized {
		outline-width: 0;
		
		resizer {
			display: none;
		}
	}
}

windmilldialog { display: none; }

resizer {
	-moz-appearance: none;
	background-color: transparent;
	height: 4px;
	width: 4px;
	border: 2px solid transparent;
}

window.maximized .maximize-window,
.restore-window {
	display: none;
}

.maximize-window,
window.maximized .restore-window {
	display: initial;
}


#window-title {
	text-align: center;
	font-smooth: always;
	-moz-osx-font-smoothing: greyscale;
}

.window-buttons-container > * {
	pointer-events: auto;
}

.window-button {
	padding: 3px 3px;
	color: rgb(150, 150, 150);
	cursor: default;
	font-size: 16px;
	
	&:hover {  
		background-color: rgb(80, 80, 80);
	}
}

.window-button.icon-x-small {
	&:hover {
		background-color: $interact-red;
		color: $clr-base;
	}
}

#modules-wrapper {
	filter: blur(0px);
	transition: filter 0.8s;
	transition-delay: 0.3s;
	
	&.startup-loading {
		filter: blur(3px);
		transition: filter 0s;
		transition-delay: 0s;
	}
}

.icon-the-mill {
  -moz-animation: windmill 2s infinite;
  -moz-animation-timing-function: linear;
}

@-moz-keyframes windmill {
    0%  {-moz-transform: rotate3d(0, 0, 1, 0deg);}
  100%  {-moz-transform: rotate3d(0, 0, 1, 360deg);}
}
@keyframes windmill {
    0%  { transform: rotate(0deg);}
  100%  { transform: rotate(360deg);}
}

toolbox, toolbarbutton, toolbar, button, #header {
	-moz-appearance: none;
	border: none;
	font-size: 14px;
	
	background-color: $clr-chrome;
	color: rgb(200, 200, 200);
}

#modules-nav > *{
	pointer-events: auto;
}

#modules-nav spacer{
	pointer-events: none;
}

.quickjoin {
	transition: color 0.3s;
}
.quickjoin:hover {
	color: white;
	cursor: pointer;
}

#nav-playername {
	font-weight: 600;
	font-size: 18px;
	padding-left: 1em;
	padding-right: 0.2em;
	padding-top: 3px;
}

#nav-otherplayers > label {
	font-size: 18px;
	padding-right: 0.2em;
	padding-top: 3px;
}

caption {
	background-color: inherit;
}

.draft {
	display: none;
}

/* main nav dropdown menu */

.ctx-mainnavigation {
	border: 1px solid $clr-chrome-sub;
	
	&:hover {
		border-color: $clr-chrome-sub;
	}
	
	.ctx-wrapper {
		background: $clr-chrome;
		color: white;
	}
	
	.ctx-menuitem {
		&:hover, &.selected  {
			outline: 0;
			background-color: $clr-chrome-active;
		}
		
		&:hover .icon-has-ctx-sub:before {
			color: white;
		}
		
		&:hover .icon-small-settings:before {
			color: $clr-chrome;
		}
		
		&:hover .icon-small-settings:hover:before {
			color: white;
		}
	}
	
	.icon-has-ctx-sub:before {
		color: rgba(255, 255, 255, 0.5);
	}
	
	.icon-small-settings:before {
			color: rgb(60, 60, 60);
	}
}


/* main mode */

.mm-buttons {
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: translate(-5px, 0);
}

.main-mode-ui {
	color: whitesmoke;
	pointer-events: none;
	
	label {
		font-size: 12px;
		line-height: 12px;
		padding: 3px 16px;
	}
	
	&.cBridge .mm-play-wrapper {
		background: $clr-chrome-active;
	}
	
	&:not(.cBridge) .mm-dev-wrapper {
		background: $clr-chrome-active;
	}
	
	&.cBridge .icon-brackets:before {
		@include -controller();
	}
	
	&.loaded .mm-buttons {
		opacity: 1;
		transform: translate(0, 0)
	}
	
	&.loaded #mm-svg {
		display: -moz-box;
	}
}

.mm-dev-wrapper,
.mm-play-wrapper {

	background-color: $clr-chrome-sub;
	pointer-events: auto;
	
	&:hover {
		background-color: rgb(80, 80, 80);
	}
}

.mm-dev-wrapper {
	transform: skew(-45deg);
}

.mm-play-wrapper {
	transform: skew(45deg);
}

.mm-dev {
	transform: skew(45deg);
}

.mm-play {
	transform: skew(-45deg);
}

.mm-icon-wrapper {
	transform: rotate(45deg);
	background-color: $clr-chrome-sub;
}

.mm-icon-wrapper-sub {
	transform: rotate(-45deg);
}

.mm-icon {
	transition: background-color 0.1s,
				opacity 1s;
	
	pointer-events: auto;
	height: 32px;
	width: 32px;
	padding: 3px;
}

#mm-svg {
	display: none;
}

#mm-svg path{
    stroke: $clr-paper;
    stroke-width: 2px;
    stroke-linecap: round;
	transition: stroke-width 0.3s;
    fill: none;
}

.main-mode-ui.cBridge #mm-svg-to-upper-button,
.main-mode-ui.cBridge #mm-svg-to-lower-button {
	stroke-width: 4px;
}


.nav-image:hover  {
	background: $clr-chrome-active;
}

.nav-image {
	vertical-align:  middle;
	transition: background-color 0.1s;
}

.nav-image.deactivated {
	color: #999;
}

.nav-image.deactivated:hover {
	background: rgb(80, 80, 80);
}

#cide-toolbar { padding-top: 5px; }

.cide-tb-seperator  { width: 10px; }


button:focus, 
button:focus *, 
toolbarbutton:focus, 
toolbarbutton:focus  *{
	outline: none;
}

/* player selection */

.ctx-playerselect {
	.ctx-menuitem {
		font-size: 1em;
		line-height: 2.4em;
		height: 32px !important;
		padding: 0.1em 0.3em;
		cursor: default;
		
		transition: background-color 0.3s;

		.ctx-submenuindicator:before {
			color: $ui-light-clr;
		}
	}
}

.dlg-aplabelwrapper {
	font-size: 1.2em;
	padding: 2px 4px;
	color: $ui-text-clr;
}

/* sidebar */

.sidebar {
	background-color: rgb(245, 245, 245);
	height: 100%;
	overflow: hidden;
	transition: opacity 0.3s;
	opacity: 1;
	color: rgb(60, 60, 60);
	box-sizing: border-box;
}

.sidebar.invisible {
	opacity: 0;
	pointer-events: none;
	border-left-width: 0px;
}

.sidebar-h {
	background: $interact-red;
	color: white;
	margin: 0;
	line-height: 1.6em;
	padding: 0.3em;
	padding-top: 0.2em;
	margin-bottom: 1em;
	background: #0A4163;

	caption {
		font-weight: normal;
		font-size: 14pt;
		line-height: 20pt;
	}
	image {
		vertical-align: baseline;
		cursor: pointer;
	}
} 

.sidebar-h-icon {
	&:hover,&.active{
		background-color: #C13A2B;
	}
}

.sidebar-b {
	padding: 0.5em;
}

/*-- notification panel --*/

.notification-in {
	transform: translate(0px, 20px);
	opacity: 0;
}

.notification-out {
	transform: translate(20px, 0px);
	opacity: 0;
}

#notification-panel {
	width: 280px;
	border: none;
	opacity: 1;
	transform: translate(0px, 0px);
	transition: transform 0.3s,
				opacity 0.3s;
}

.notification-item {
	min-height: 90px;
	background-color: rgb(235,235,235);

	transition: background-color 0.3s;
}

.notification-item:hover {
	background-color: $clr-base;
}

.notification-head {
	width: 15px;
}
.notification-content {
	padding: 3px 0px 3px 8px;
}

.notification-title {
	font-size: 13pt;
	font-weight: 600;
	margin-left: 0px;
}

.notification-desc {
	
}

/*.notification-head {
	background-color: black;
	width: 100%;
}

.notification-close {
	background-color: rgb(222,87,70);
	color: white;
	width: 20px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	-moz-user-select: none;
}

.notification-close:hover {
	background-color: rgb(228, 121, 109);
}*/

#showgames-wrapper {
	display: none;
}

.togglemode-img {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	transition: background-color 0.3s, width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s, padding 0.3s, opacity 0.3s;
	opacity: 1;
}
.togglemode-img.activated {
	background-color: $interact-red;
}
.togglemode-img.invisible {
	margin-left: 18px;
	margin-top: 18px;
	margin-right: 18px;
	width: 0px;
	height: 0px;
	padding: 0px;
	opacity: 0;
}


/*-- Developer Log --*/


#developerlog, #gitlog {
	-moz-user-focus: normal;
}
#developerlog .sidebar-h, #gitlog .sidebar-h {background-color: $clr-chrome;}
/*#gitlog .ps-h {background-color: rgb(241, 72, 33);}*/

#log-entrylist { overflow-y: scroll; }
#log-entrylist.show-hidden-logs > .log-listitem.hidden { display: -moz-box; }

.log-listitem {
	max-width: 100%;

	&:hover { background-color: #eee; }

	&.error {
		.log-listitem-type { background-color: #ff4e4e; }
		.log-listitem-content { background-color: #ffeded; }
		&:hover {
			.log-listitem-type { background-color: #ef3e3e; }
			.log-listitem-content { background-color: #efdddd; }
		}
	}
	&.sass {
		.log-listitem-type { background-color: #6ae35f; }
		.log-listitem-content { background-color: #d3f2d0; }
		&:hover {
			.log-listitem-type { background-color: #5ad34f; }
			.log-listitem-content { background-color: #c3e2c0; }
		}
	}

	&.hidden {
		text-decoration: italic;
		color: #777;
		display: none;
	}

	.log-listitem-type { width: 1em; }
	.log-listitem-content {
		padding-left: 1em;
		font-family: monospace;
		word-wrap: break-word;
		white-space: pre-wrap;
		-moz-user-select: text;
	}
}

#showLog {
	transition: color 1.5s;
}

.flashOnLog {
	transition: color 0s !important;
	color: #aaa !important;
}

.flashOnLog.error { color: #ff4e4e !important; }
.flashOnLog.sass { color: #6ae35f !important; }

/*-- Ladebildschirm --*/

#startup-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: $clr-chrome;
	font-size: 2.5em;
	color: white;
	
	@include the-mill();
}

#modules-nav {
	transition: opacity 1s;
	color: white;
}

#modules-nav.startup-loading {
	visibility: hidden;
	width: 0px;
	opacity: 0;
}

/*	need some space	*/