window {
	font-family: $font-stack;
}

#settings-wrapper {
	transition: width .2s;
}

.settings-page-nav > *{
	text-align: center;
	@include small-toggle;
}

.settings-page {
	display: none;
	
	&.visible {
		display: -moz-box;
	}
}

#settings {
	background-color: $clr-base;
	padding: 7px;
	padding-top: 2px;
	cursor: default;
	outline: 1px solid $clr-border;
}

#background-selection > *:hover {
	background-color: rgb(220, 220, 220);
}

#bg-light {
	color: rgb(235, 235, 235);
}

#bg-dark,
#bg-transparent {
	color: rgb(40, 40, 40);
}

#bg-light,
#bg-dark,
#bg-transparent {
	outline: 2px solid rgb(200, 200, 200);
	margin: 5px;
	cursor: default;
}

#bg-light:hover,
#bg-dark:hover,
#bg-transparent:hover,
#bg-light.bg-selected,
#bg-dark.bg-selected,
#bg-transparent.bg-selected {
	outline-color: rgb(0, 165, 207);
}

label {
	font-size: 10px;
	color: grey;
	padding: 0;
	margin: 5px 0;
}

canvas {
	margin: 0;
	padding: 0;
}

/*
	background
*/

.canvas-wrapper.appearance-light {
	background-color: transparent;
}

.canvas-wrapper.appearance-dark {
	background-color: $bg-dark;
}

.canvas-wrapper.appearance-transparent {
	background-color: none;
	background-image: $bg-transparent;
}


/* animation UI */

#anim-section {
	margin-top: 10px;
	color: rgb(80, 80, 80);
}

#anim-section.hidden {
	display: none;
}

#anim-ctrls.no-animation-selected{
	opacity: 0.35;
	pointer-events: none;
}

#anim-ctrls .icon-16 {
	color: rgb(160, 160, 160);
}

#anim-ctrls .icon-16:hover {
	color: rgb(80, 80, 80);
}

#anim-ctrls.anim-played #play-anim,
#stop-anim {
	display: none;
}

#anim-ctrls.anim-played #stop-anim,
#stop-play {
	display: -moz-box;
}

#replay-anim.enabled {
	color: rgb(219, 70, 49);
}

#animation-list {
	-moz-appearance: none;
	border: 1px solid rgb(160, 160, 160);
	background-color: inherit;
	margin-left: 0;
	margin-right: 0;
}

#animation-list-c {
	-moz-appearance: none;
	border: 1px solid rgb(160, 160, 160);
	background-color: inherit;
}

/* 	animation progressmeter	*/

#ap-wrapper {
	margin-left: 3px;
	margin-right: 3px;
}

#ap-fill {
	background-color: rgb(180, 180, 180);
	height: 3px;
}

#ap-progress {
	background-color: rgb(219, 70, 49);
	height: 3px;
	width: 50%;
}

#ap-grippy {
	height: 1px;
	width: 1px;
	outline: 4px solid rgb(180, 180, 180);
	-moz-outline-radius: 5px;
	background-color: rgb(40, 40, 40);
}

/*	view option buttons	*/
.vo-button {
	@include small-toggle;
}

/* resource manager */

.fade-in {
	background-color: $interact-blue;
	transition: background-color .3s, opacity .2s;
	opacity: 0;
}

.draft {
	display: none;
}

.resource-list {
	display: none;
	
	&.visible2 {
		display: -moz-box;
	}
}

.file-entry {
	border-left: 3px solid $clr-border;
	padding-left: 5px;
	background-color: $clr-empty;
	
	transition: opacity .2s;
	opacity: 1;
	background-color: inherit;
	pointer-events: auto;
}

.mat-file.trusted .mf-request {
	display: none;
}

.highlighted {
	@include hover-blue;
}

.tu-img {
	background-color: $clr-base;
	outline: 2px solid $clr-border;
	outline-offset: -2px
	margin-left: 3px;
	margin-right: 3px;
}
/*			Fin 		*/