window {
	background-color: $clr-paper;
	font-family: $font-stack;
	overflow-y: scroll;
}

button {
	-moz-appearance: none;
	border: none;
	@include text_button;
	text-align: center;
}

#switch-overview {
	padding: 20px;
}

.btn-reload {
	margin-right: 3px;
}

.icon-16 {
	cursor: pointer;
	color: grey;
}

.icon-16:hover {
	color: $clr-text-ui;
}

row:hover {
	@include hover_blue;
}

row.header {
	background-color: $clr-empty;
	border-bottom: 1px solid $clr-base;
}

row > * {
	border-left: 3px solid $clr-empty;
	padding-left: 10px;
	vertical-align: center;
}

row.removedModule {
	background-color: red;
}

row.newModule {
	background-color: green;
}

row.configSection {
	background-color: lightgrey;
}

row.configChanged {
	background-color: moccasin;
}

.cfg-val {
	min-width: 20px;
}

.cfg-val:hover {
	cursor: pointer;
	color: royalblue;
}

#lblbtn-save:hover {
	cursor: pointer;
	color: royalblue;
}

grid {
	-moz-user-focus: normal;
	background-color: white;
}

#wrapper {
	overflow-y: scroll;
}

/* dom inspector */

#dom-container {
	font-family: monospace;
	padding: 1.5em;
	-moz-user-select: text;
}

#dom-container * {
	-moz-user-select: text !important;
}

.inspect-line:hover {
	@include hover_blue;
	-moz-user-select: text;
}

/*	need some space	*/