body
{
	background-color: $clr-base;
	font-family: $font-stack;
	color: $text-clr;
}

div {
	-moz-user-select: none;
	cursor: default;
}

scrollbar {
	display: none;
}

.scenario-settings {
	@include absolute_fill;
	display: none;
	background-color: $clr-base;
}

.scenario-settings.visible { display: flex; }

/*-- Editorframe --*/

#editorframe {
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 70px;
	
	z-index: -10;
	padding: 0px;
	display: flex;
}

#editorframe > iframe { flex: 1; }

#editorframe.visible { z-index: 10; }

/*-- Navigation --*/

.navigation {
	position: fixed;
	left: 0; top: 0; bottom: 0;
	
	width: 0px;
	opacity: 0;
	border-right: 1px solid $clr-border;
	box-sizing: border-box;
	height: 100%;
	
	transition: width 1s, opacity 0.6s;
	background-color: $clr-empty;
	color: grey;
	
	display: flex;
	flex-direction: column;
}
.navigation.ready {
	width: 70px;
	opacity: 1;
}

.navigation-option {
	height: 70px;
	font-size: 32px;
	text-align: center;
	line-height: 70px;
}

.navigation-option:hover {
	background-color: rgb(230, 230, 230);
	color: $ui-text-clr;
}

.navigation-option.active {
	background-color: rgb(230, 230, 230);
	color: $ui-text-clr;
}

.navigation-spacer {
	flex: 1;
}

/*-- Pages --*/

section {
	padding: 20px 0;
	border-bottom: 3px solid rgb(235, 235, 253);
}

section:last-child {
	border-bottom: none;
}

.sp-head {
	text-align: center;
	font-size: 12px;
	color: $ui-text-clr;
	margin-bottom: 20px;
}

.settings-page-container {
	flex: 1;
	padding: 8px;
	opacity: 0;
	
	transition: opacity 1s;
	max-height: 100%;
}

.settings-page-container.ready {
	display: block;
	opacity: 1;
}

.settings-page { display: none; height: 100%; }
.settings-page.active { display: block; }

.loadingPage {
	@include absolute_fill();
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
}

.loadingPage-caption {
	font-size: 32px;
}

.loadingPage-subCaption {
	font-size: 18px;
	text-align: center;
}

.sp-l-wrapper {
	display: flex;
	flex-direction: row;
}

.sp-l-sidebar {
	width: 500px;
	height: 100%;
	border-right: 1px solid black;
	overflow-y: auto;
}

.draft, .draft > * { display: none !important; }

/*-- Objectgroup --*/

.sp-o-group { flex: 1 }

.sp-o-group.inactive {
	display: none;
}

.sp-o-groupwrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: hidden;
}

.sp-o-wealth {
	width: 40px;
	margin: auto;
}

/*-- Selection List --*/

.definition-selection-wrapper {
	display: flex;
	width: 240px;
	height: 180px;
	overflow: hidden;	
	
	flex-direction: column;
}

.definition-selection-header,
.deflist-ao-header,
.deflist-ao-list-header {
	background-color: $chrome-clr;
	color: rgb(250, 250, 250);
	height: 14px;

	font-size: 8pt;
	padding: 3px 8px;
	text-align: center;
}

.definition-selection-list {
	flex: 1;
	width: 240px;
	overflow-y: auto;
	
	background-color: $clr-paper;
	box-sizing: border-box;
	border: 1px solid rgb(220, 220, 220);
	border-bottom-width: 0;
	color: $ui-text-clr;
}

/* TODO: overflow...*/
.definition-selection-item {
	height: 24px;
	box-sizing: border-box;
	padding-left: 5px;
	-moz-user-focus: normal;
}

.definition-selection-item.selected {
	background-color: #bdf;
}

.definition-selection-item.invalid {
	background-color: #f2dede;
}

.definition-selection-item.invalid:before {
	content: '<!>';
}

.definition-selection-item-counter:before { content: 'x'; }
.definition-selection-item-counter { float: right; padding-right: 5px;}

.definition-selection-btn {
	box-sizing: border-box;
	flex: 1;
	height: 20px;
	
	font-size: 8pt;
	line-height: 18px;
	float: right;
	text-align: center;
	
	background-color: rgb(220, 220, 220);
	color: $ui-text-clr;
	border-bottom: 1px solid rgb(180, 180, 180);
}

.definition-selection-btn:hover {
	background-color: rgb(180, 180, 180);
}

.definition-selection-controls {
	height: 20px;
	width: 240px;
	display: flex;
	flex-direction: row;
}

/*-- Deflist Adding Overlay --*/

.deflist-adding-overlay {
	position: fixed;
	top: 0;
	left: 70px;
	bottom: 0;
	right: 0;
	
	background-color: $clr-paper;
	display: flex;
	flex-direction: column;
}

.deflist-ao-body {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.deflist-ao-controls { 
	flex-basis: 40px;
	display: flex;
	flex-direction: column;
	
	background-color: #ddd;
}

.deflist-ao-ctrl-button {
	flex: 1;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	transition: background-color 0.5s;
}

.deflist-ao-ctrl-button:hover {
	background-color: #eee;
	transition: background-color 0s;
}

.deflist-ao-ctrl-spacer { flex: 1; }
.deflist-ao-ctrl-seperator { height: 40px; }

.deflist-ao-listwrapper { 
	flex: 1;
	overflow-y: auto;
	
	background-color: white;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
}

.deflist-ao-list-content {
	flex: 1;
}

.deflist-ao-list-content > *,
.definition-selection-item {
	&:hover {
		@include hover-blue;
	}
	
	&.selected {
		@include hover-blue-selected;
	}
}

.deflist-ao-search,
.deflist-ao-list-content {
	box-sizing: border-box;
	border-right: 1px solid rgb(220, 220, 220);
}

.deflist-ao-search {
	display: flex;
}

.deflist-ao-searchinput {
	flex: 1;
	border: 0;
	border-bottom: 1px solid $clr-border;
	
	padding: 4px 6px;
}

.deflist-ao-hidesearch { display: none; }

.deflist-ao-header,
.deflist-ao-list-header { 
	display: flex;
	flex-direction: row;
	padding: 0px;
	height: 20px;
}

.deflist-ao-list-header {
	border-bottom: 1px solid rgb(20, 20, 20);
	box-sizing: border-box;
}

.deflist-ao-header-caption,
.deflist-ao-listheader-caption { 
	flex: 1; 
	padding: 3px 8px;
}

.deflist-ao-header-close { 
	color: grey;
	transition: background-color 0.5s, color 0.5s;
	width: 50px;
	text-align: center;
	padding: 2px;
}

.deflist-ao-header-close:hover { 
	color: rgb(250, 250, 250);
	background-color: rgb(219, 70, 49);
	transition: background-color 0s, color 0s;
}

/* Image Selection */

.sp-g-iconlabel {
	@include flexcenter();
	margin-right: 20px;
	margin-top: 10px;
}

.image-selection-wrapper {
	position: relative;
	width: 80px;
	height: 80px;

	.image-selection {
		position: absolute;
		background-color: white;
		padding: 10px 5px 5px 5px;
		border-radius: 5px;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		max-width: 80px;
		max-height: 80px;
		transition: max-width 0.5s, max-height 0.5s;
		overflow: hidden;
		width: 250px;
		  
		&:hover {
			max-width: 280px;
			max-height: 200px;
			overflow: auto;
			.image-selection-item {
				display: block !important;
			}
			.selected { 
				@include hover-blue-selected();
			}
		}
		.image-selection-item {
			.image-selection-image {
				width: 64px;
				height: 64px;
				@include flexcenter();
			}
			.image-selection-caption {
				text-align: center;
			}
			&:hover {
				@include hover-blue();
			}
			&:not(.selected) {
				display: none;
			}
		}
	}
}

.image-selection-wrapper.size-24 {
	width: 50px;
	height: 50px;
	
	.image-selection {
		max-width: 50px;
		max-height: 50px;
		width: 220px;
		justify-content: space-around;
		
		&:hover {
			max-width: 220px;
			max-height: 136px;
			overflow: auto;
		}
		.image-selection-item {
			margin: 5px;
			.image-selection-image {
				width: 24px;
				height: 24px;
			}
		}
	}
}

.image-selection-wrapper.size-32 {
	width: 62px;
	height: 62px;
	
	.image-selection {
		max-width: 62px;
		max-height: 62px;
		width: 240px;
		justify-content: space-around;
		
		&:hover {
			max-width: 240px;
			max-height: 148px;
			overflow: auto;
		}
		.image-selection-item {
			margin: 5px;
			.image-selection-image {
				width: 32px;
				height: 32px;
			}
		}
	}
}

/* Range */

.sp-range {
	position: relative;
	display: flex;
  
	&:not(.autosize) {
		.sp-rangelabel {
			min-width: 100px;
		}
	}
	
	input[type='range'] {
		flex: 1;
		&::-moz-range-track {
			background-color: gainsboro;
			height: 100%;
		}
		&::-moz-range-thumb {
			background-color: rgb(0, 165, 210);
			border-radius: 0;
			border: 0;
			height: 100%;
			width: 14px;
		}
		&:active, &:hover {
			&~.range-tooltip {
				transition-delay: 0s;
				opacity: 1 !important;
			}
		}
	}

	.range-tooltip {
		opacity: 0;
		position: absolute;
		top: -25px;
		background: rgba(0, 0, 0, 0.8);
		color: white;
		padding: 0 2px;
		pointer-events: none;
		transition: opacity 0.4s;
		transition-delay: 0.148s;
		&.defaultval {
			background: $interact-red;
		}
	}
}

.sp-l-sidebar {
	.range-tooltip {
		opacity: 1 !important;
	}
}

/* Landscape Page */

.flexwrapper {
	display: flex;
	justify-content: space-around;
	margin: 5px 0px;
	.flexitem {
		flex: 1;
		margin: 0 15px;
	}
}

.iconcb {
	&:hover, &.active {
		color: $interact-red;
	}
}

.sidebar-wrapper {
	width: 300px;
	box-sizing: border-box;
	position: absolute;
	left: 70px; top: 0; bottom: 0;
	padding: 15px;
	background: #eee;
	box-shadow: 2px 0px 2px rgba(0,0,0,0.4);
	display: flex;
	justify-content: space-around;
	flex-direction: column;

	> :not(:last-child) {
		border-bottom: 1px solid gainsboro;
	}
}

.group {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	> * {
		flex: 1;
		margin: 15px 0;
	}
}

$dlclr: rgba(220, 220, 220, 0);

.sp-l-preview {
	@include flexcenter();
	position: absolute;
	left: 370px;
	top: 0; bottom: 0; right: 0;
	border: 1px solid gainsboro;
	margin: 35px;
	background: 
       linear-gradient(to top left, $dlclr 0%, $dlclr calc(50% - 0.8px), rgba(220, 220, 220, 1) 50%, $dlclr calc(50% + 0.8px), $dlclr 100%),
       linear-gradient(to top right, $dlclr 0%, $dlclr calc(50% - 0.8px), rgba(220, 220, 220, 1) 50%, $dlclr calc(50% + 0.8px), $dlclr 100%);
}

/* special check boxes /big buttons/ */

.special-cb {
	@include ui-text-checkbox2();
}

/*-- Number inputs --*/
.sp-number-input {
	padding: 5px 10px;
	padding-right: 3px; /* -2px padding from spinners */
	display: inline-flex;
	
	@include ui-number-input;
}

.sp-number-input input{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid grey;
	-moz-appearance: textfield;
	color: $ui-text-clr;
	text-align: right;
	padding-left: 2px;
	padding-right: 2px;
}

.input-spinners {
	display: inline-flex;
	flex-direction: column;
}

.input-spinners-button {
	min-width: 10px;
	font-size: 8px;
	padding: 2px 2px 2px 3px;
	flex: 1;
	pointer-events: auto;
}

.sp-number-input .input-spinners-button:hover {
	background-color: rgb(180, 180, 180);
}

/*-- Radiobuttons --*/

.sp-radiogroup {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40px;
}

.sp-radiobutton {
	flex: 1;
	
	line-height: 38px;
	text-align: center;
	
	border-top: 3px solid rgb(180, 180, 180);
	background-color: rgb(220, 220, 220);
	
	transition: background-color 0.5s;
	color: $text-clr;
}

.sp-radiobutton:hover {
	background-color: rgb(200, 200,200);
	transition: background-color 0s;
}

.sp-radiobutton.active {
	border-top-color: rgb(219, 70, 49);
}

/*-- Settingsgroups --*/

.sp-settingsgroup-header {
	background-color: #333;
	color: white;
	height: 14px;
	display: flex;
	
	font-size: 8pt;
	padding: 3px 8px;
}

.sp-settingsgroup-header:hover {
	color: $clr-border;
}

.sp-settingsgroup-caption {
	flex: 1;
}

.sp-settingsgroup-collapse {
	width: 20px;
}

.sp-settingsgroup {
	border-bottom: 1px solid black;
	background-color: #FFF;
}

/*-- Borders --*/

.sp-l-borders {
	position: relative;
	height: 40px;
	.sp-borders {
		position: absolute;
		box-sizing: border-box;
		width: 20px;
		height: 20px;
		&.sp-borders-top { border-top: 1px dashed black; }
		&.sp-borders-right { border-right: 1px dashed black; }
		&.sp-borders-bottom { border-bottom: 1px dashed black; }
		&.sp-borders-left { border-left: 1px dashed black; }
		&.active {
			&.sp-borders-top { border-top: 3px solid black; }
			&.sp-borders-right { border-right: 3px solid black; }
			&.sp-borders-bottom { border-bottom: 3px solid black; }
			&.sp-borders-left { border-left: 3px solid black; }
		}
	}
	
	&:hover {
		flex: 1;
		width: 240px;
		&~.sp-l-autoscanside {
			display: none;
		}
		.sp-borders-top {
			border: 1px dashed black;
			border-top: 3px solid black;
			left: 20px;
			&:hover { border-top: 3px solid $interact-red-darker; }
			&.active { border-top: 3px solid $interact-red; }
		}
		.sp-borders-right {
			border: 1px dashed black;
			border-right: 3px solid black;
			left: 73px;
			&:hover { border-right: 3px solid $interact-red-darker; }
			&.active { border-right: 3px solid $interact-red; }
		}
		.sp-borders-bottom {
			border: 1px dashed black;
			border-bottom: 3px solid black;
			left: 127px;
			&:hover { border-bottom: 3px solid $interact-red-darker; }
			&.active { border-bottom: 3px solid $interact-red; }
		}
		.sp-borders-left {
			border: 1px dashed black;
			border-left: 3px solid black;
			left: 180px;
			&:hover { border-left: 3px solid $interact-red-darker; }
			&.active { border-left: 3px solid $interact-red; }
		}
	}
}

/*-- Checkbox-Textinputs --*/

.sp-checkinput {
	display: inline-flex;
	flex-direction: row;
	
	height: 22px;
	width: 100px;
	border: 1px solid #777;
	transition: border 0.5s;
}
.sp-checkinput:hover {
	border: 1px solid #aaa;
	transition: border 0s;
}

.sp-checkinput > * {
	height: 22px;
}

.sp-checkinput-check {
	width: 100%;
	transition: width 0.3s, background-color 0.5s;
	color: white;
	
	background-color: #777;
	text-align: center;
}

.sp-checkinput-check:hover {
	background-color: #aaa;
	transition: width 0.3s, background-color 0s;
}

.sp-checkinput-check.checked {
	width: 30px;
}

.sp-checkinput-text {
	flex: 1;
	box-sizing: border-box;
	min-width: 0px;
	padding: 2px 0px;
	background-color: white;
	border: 0px;
}

h2
{
	margin: 0.7em 0;
	background-color: inherit;
	font-size: 1em;
	color: rgb(80, 80, 80);
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	border-bottom: 1px solid $clr-border;
	margin: 1em 0;
}

.flex-wrapper {
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.flex-spacer {
	flex: 1;
}

.nav-errorlog {
	position: relative;
}

.nav-errorlog-iconoverlay {
	position: absolute;
	top: 22px;
	right: 18px;
	background-color: #ff4e4e;
	color: white;
	font-size: 10px;
	line-height: 16px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	text-align: center;

	&.hidden { display: none; }
}

#errorlog {
	position: absolute;
	left: 70px;
	right: 0;
	bottom: 0;
	height: 0px;
	opacity: 0;
	transition: opacity 0.5s;
	background-color: white;
	z-index: 1001203123;
	border-top: 1px solid #ccc;
	box-shadow: 2px 0 -2px #000;
	height: 240px;
	pointer-events: none;
}
#errorlog.show {
	opacity: 1;
	pointer-events: auto;
}

.errorlog-item {
	display: flex;
	.errorlog-item-type {
		@include flexcenter;
		width: 1em;
	}
	.errorlog-item-content { flex: 1; padding-left: 5px; }
	&.hidden { display: none; }
}

.errorlog-item.error {
	width: 100%;
	.errorlog-item-type {
		background-color: #ff4e4e;
		color: white;
		text-align: center;
		font-weight: bold;
	}
	.errorlog-item-content { background-color: #ffeded; }
}
