window
{
	background-color: $clr-paper;
	font-family: $font-stack;
}

caption
{
	margin: 0.7em 0;
	background-color: inherit;
	font-size: 1em;
	color: $ui-text-clr;
}

caption.big
{
	font-size: 1.5em;
	border-bottom: 1px solid gainsboro;
	margin: 1em 0;
}

.toggle-contents + vbox {
	padding-left: 1em;
}

/*		preferences		*/


button.navigation
{
	-moz-appearance: none;
	border: none;
	
	border-right: 1px solid $clr-border;
	margin: 0;
	text-align: left;
	padding: 0.5em 1.5em;
	padding: 0.5em 0;
	
	color: $ui-text-clr;
	outline: none !important;
	
	background-color: $clr-empty;
	cursor: default;
	box-sizing: border-box;
	border-left: 5px solid transparent;
}

button.navigation:hover
{
	background-color: rgb(245, 245, 245);
}

button *,
button:focus *
{
	border: 0;
}

#settings-deck {
	& > hbox, & > vbox, &box {
		background-color: $clr-paper;
	}
	
	/*spacer {
		border-right: 1px solid $clr-border;
		background-color: $clr-empty;
	}*/
}

#settings-nav {
	width: 200px;
	max-width: 200px;

	spacer
	{
		border-right: 1px solid $clr-border;
		background-color: $clr-empty;
	}

	.active
	{
		border-left: 5px solid $ui-text-clr;
	}
}

#clear-temp-data:after {
	color: #808080;
	content: "("attr(data-additional)")";
	font-size: 0.8em;
}

#settings-deck button,
listbox
{
	-moz-appearance: none;
	border: 1px solid $clr-border;
	transition: border 0.3s;
}

#settings-deck button > *
{
	background-color: inherit;
}

#settings-deck button
{
	background-color: rgb(250, 250, 250);
}

#settings-deck button:hover ,
#settings-deck button:focus,
#listbox:focus
{
	border: 1px solid #54B7FF;
}

/*-- Restartbar --*/

#restartBar {
	height: 0px;
	overflow: hidden;
	transition: height 0.6s;
	padding-left: 20px;
}

#restartBar.active {
	height: 40px;
	line-height: 40px;
}

#restartBarButton {
	/*background-color: red;*/
	color: black;
	padding: 0 15px;
}

#restartBarButton:hover {
	/*background-color: gainsboro;*/
	color: $interact-red;
}

/*-- Listbox --*/

.draft { display: none; }

listbox
{
	padding: 0;
}

listbox * {
	-moz-appearance: none;
	background-color: none;
}

listitem
{
	transition: background-color 0.3s;
	margin: 0;
	padding-left: 5px;
	color: $text-clr;
	-moz-appearance: none;
}

listitem * {
	-moz-appearance: none;
	background: none;
}

listitem:hover
{
	border: 1px solid rgba(84, 183, 255, 0.5);
	background-color: rgba(84, 183, 255, 0.15);
}

listitem[selected],
listitem[current],
listitem[checked],
listitem:focus
{
	-moz-appearance: none;
	border: 1px solid rgb(84, 183, 255);
	background-color: rgb(176, 214, 253);
}

.pkb-list-subheader {
	pointer-events: none;
	background-color: none;
	font-size: 0.8em;
	margin-top: 7px;
	color: rgb(80, 80, 80);
}

.view-directory-path
{
	font-style: italic;
	background-color: rgb(250, 250, 250);
	border: gainsboro;
	padding-left: 1em;
	padding-right: 1em;
	-moz-user-select: text;
	transition: background-color 0.3s;
}

.view-directory-path.deniedAccess {
	background-color: #FFB2B2;
}

.view-directory-path.deniedAccess:before {
	content: '<!>  ';
}

/* page style */
 
.settings-page
{
	padding: 2em 3em;
	overflow-y: auto;
	background-color: $clr-paper;
}

.settings-page > *:first-child
{
	margin-top: 0;
}

.nav-image {
	color: black;
}

.nav-image:hover {
	color: #999;
}

/* external programs */

.extprogram {
	background: #dadada;
	padding: 0.6em;
}

/* external applications */

#application-list {
	-moz-user-select: none;
	cursor: default;
}

.applist-img {
	width: 64px;
	height: 64px;
	margin-right: 18px;
}

.applist-title {
	font-weight: bold;
	font-size: 1.6em;
}

.applist-path {
	font-style: italic;
}

/*-- Infotooltip --*/

.infotooltip {
	width: 16px;
	color: white;
	.icon-info {
		box-sizing: border-box;
		height: 16px;
		border: 1px solid black;
		background: black;
		border-radius: 9px;
		transition: background 0.3s;
		margin-left: 0.1em;
		&:hover {
			background: $chrome-ui-active;
		}
	}
}

/*-- Module Overview --*/

.moduleentry {
	width: 260px;
	height: 160px;
	border: 1px solid $chrome-clr;
	background: white;
	margin: 10px;
	position: relative;
	
	.modulebackground { transition: filter 0.4s; }
	.modulebglayer {
		opacity: 0;
		@include scanlines(rgba(210, 210, 210, 0.7), 8px, 1px);
		transition: opacity 0.4s;
	}
	.icon-togglestate {
		/*color: $chrome-ui-active;*/
		transition: color 0.4s;
	}
	.icon-warning {
		color: $interact-red;
		margin: 0 0.7em 0 0.4em;
	}
	&:not(.forced) {
		.module-forced {
			display: none;
		}
	}
	&.configurable {
		cursor: pointer;
		.icon-16:before, .icon-16, .icon-24, .moduleinfo { cursor: pointer; }
	}
	&.deactivated {
		.modulebackground { filter: grayscale(100%); }
		.modulebglayer { opacity: 1; }
		.icon-togglestate { color: grey; }
	}

	spacer {
		background: none !important;
		border: none !important;
	}
	
	.moduleinfo {
		background: rgba(0, 0, 0, 0.85);
		color: white;
		font-size: 1.2em;
		line-height: 1.8em;
		height: 1.6em;
		padding: 0.2em;
		opacity: 0.6;
		transition: opacity 0.2s;
		cursor: default;
		.icon-24:before {
			line-height: 1.4em;
		}
		.icon-24:before {
			cursor: pointer;
		}
	}
	&:hover {
		.moduleinfo { 
			opacity: 1;
		}
	}
}

/*-- Module Subpage --*/

.module-subpage-header {
	border-bottom: 1px solid gainsboro;
	margin: 0 1em;
	padding: 0 3em;
}

.module-subpage-caption {
	font-size: 1.5em;
}

.module-subpage-button {
	/*-- button style --*/
}

.module-subpage-content {
	padding: 1.2em 1.6em;
}

/*	need some space	*/