window, body, html {
	background-color: $clr-paper;
	font-family: $font-stack;
}

caption {
	margin: 0.7em 0;
	background-color: inherit;
	font-size: 1em;
	color: $clr-text-ui;
}

caption.big {
	font-size: 1.5em;
	border-bottom: 1px solid gainsboro;
	margin: 1em 0;
}

.toggle-contents + vbox {
	padding-left: 1em;
}

/*-- Listbox --*/

.draft { display: none; }

listbox {
	padding: 0;
}

listbox * {
	-moz-appearance: none;
	background-color: none;
}

listitem {
	transition: background-color 0.3s;
	margin: 0;
	padding-left: 5px;
	color: $clr-text;
	-moz-appearance: none;
}

listitem * {
	-moz-appearance: none;
	background: none;
}

listitem:hover {
	@include hover-blue();
}

listitem[selected],
listitem[selected='true'],
listitem[current],
listitem[checked],
listitem:focus {
	-moz-appearance: none;
	@include hover-blue-selected();
}

/*-- Infotooltip --*/

.infotooltip {
	width: 16px;
	color: $clr-text-ui;
	
	.icon-info {
		height: 16px;
		margin-left: 8px;
		&:hover {
			color: $clr-text;
		}
	}
}

label {
	input {
		margin-right: 1em;
	}
	
	background-color: none;
}

/*	need some space	*/