$svg-url-gear: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><g><path fill='%23CCCCCC' d='M27.87,15.52c-0.01-0.27-0.22-0.6-0.46-0.72l-2.44-1.2c-0.25-0.12-0.53-0.43-0.64-0.68l-1.04-1.99
c-0.15-0.23-0.24-0.64-0.2-0.92l0.41-2.7c0.04-0.27-0.1-0.63-0.32-0.8c0,0-0.38-0.3-0.8-0.56c-0.42-0.27-0.85-0.48-0.85-0.48
c-0.25-0.12-0.63-0.1-0.86,0.06L18.4,7.04c-0.23,0.15-0.64,0.25-0.91,0.21l-2.24-0.1c-0.27,0.01-0.67-0.12-0.89-0.29l-2.13-1.7
c-0.21-0.17-0.6-0.22-0.85-0.11l-1.73,0.9c-0.24,0.14-0.42,0.48-0.4,0.75l0.18,2.73c0.02,0.27-0.11,0.67-0.29,0.88
c0,0-0.38,0.44-0.67,0.91s-0.53,1-0.53,1c-0.11,0.25-0.42,0.54-0.67,0.64l-2.55,1c-0.26,0.1-0.49,0.41-0.51,0.68l-0.07,1.95
c0.01,0.27,0.22,0.6,0.46,0.72l2.44,1.2c0.25,0.12,0.53,0.43,0.64,0.68l1.04,1.99c0.15,0.23,0.24,0.64,0.2,0.91l-0.41,2.7
c-0.04,0.27,0.1,0.63,0.32,0.8c0,0,0.38,0.3,0.8,0.57c0.42,0.27,0.85,0.48,0.85,0.48c0.25,0.12,0.63,0.1,0.86-0.06l2.27-1.52
c0.23-0.15,0.64-0.25,0.91-0.21l2.24,0.1c0.27-0.01,0.67,0.12,0.89,0.29l2.13,1.7c0.21,0.17,0.6,0.22,0.85,0.11l1.73-0.9
c0.24-0.14,0.42-0.48,0.4-0.75l-0.18-2.73c-0.02-0.27,0.11-0.67,0.29-0.88c0,0,0.38-0.44,0.67-0.91s0.53-1,0.53-1
c0.11-0.25,0.42-0.54,0.67-0.64l2.55-1c0.26-0.1,0.49-0.41,0.51-0.68L27.87,15.52z M16,22c-3.31,0-6-2.69-6-6s2.69-6,6-6
s6,2.69,6,6S19.31,22,16,22z'></path></g></svg>");

window, body, html {
	background-color: $clr-paper;
	font-family: $font-stack;
}

caption {
	margin: 0.7em 0;
	background-color: inherit;
	font-size: 1em;
	color: $ui-text-clr;
}

caption.big {
	font-size: 1.5em;
	border-bottom: 1px solid gainsboro;
	margin: 1em 0;
}

.toggle-contents + vbox {
	padding-left: 1em;
}

/*		preferences		*/


button.navigation {
	-moz-appearance: none;
	border: none;
	
	border-right: 1px solid $clr-border;
	margin: 0;
	text-align: left;
	padding: 0.5em 1.5em;
	padding: 0.5em 0;
	
	color: $ui-text-clr;
	outline: none !important;
	
	background-color: $clr-empty;
	cursor: default;
	box-sizing: border-box;
	border-left: 5px solid transparent;
}

button.navigation:hover {
	background-color: rgb(245, 245, 245);
}

button *,
button:focus * {
	border: 0;
}

#settings-deck {
	& > hbox, & > vbox, &box {
		background-color: $clr-paper;
	}
	
	/*spacer {
		border-right: 1px solid $clr-border;
		background-color: $clr-empty;
	}*/
}

#settings-nav {
	width: 200px;
	max-width: 200px;

	spacer {
		border-right: 1px solid $clr-border;
		background-color: $clr-empty;
	}

	.active {
		border-left: 5px solid $ui-text-clr;
	}
}

#clear-temp-data:after {
	color: #808080;
	content: "("attr(data-additional)")";
	font-size: 0.8em;
}

#settings-deck button,
listbox {
	-moz-appearance: none;
	border: 1px solid $clr-border;
	transition: border 0.3s;
}

#settings-deck button > * {
	background-color: inherit;
}

#settings-deck button {
	background-color: rgb(250, 250, 250);
}

#settings-deck button:hover ,
#settings-deck button:focus,
#listbox:focus
{
	border: 1px solid #54B7FF;
}

/*-- Restartbar --*/

#restartBar {
	height: 0px;
	overflow: hidden;
	transition: height 0.6s;
	padding-left: 20px;
}

#restartBar.active {
	height: 40px;
	line-height: 40px;
}

#restartBarButton {
	/*background-color: red;*/
	color: black;
	padding: 0 15px;
}

#restartBarButton:hover {
	/*background-color: gainsboro;*/
	color: $interact-red;
}

/*-- Listbox --*/

.draft { display: none; }

listbox
{
	padding: 0;
}

listbox * {
	-moz-appearance: none;
	background-color: none;
}

listitem {
	transition: background-color 0.3s;
	margin: 0;
	padding-left: 5px;
	color: $text-clr;
	-moz-appearance: none;
}

listitem * {
	-moz-appearance: none;
	background: none;
}

listitem:hover {
	@include hover-blue();
}

listitem[selected],
listitem[current],
listitem[checked],
listitem:focus {
	-moz-appearance: none;
	@include hover-blue-selected();
}

.pkb-list-subheader {
	pointer-events: none;
	background-color: none;
	font-size: 0.8em;
	margin-top: 7px;
	color: rgb(80, 80, 80);
}

.view-directory-path {
	font-style: italic;
	background-color: rgb(250, 250, 250);
	border: gainsboro;
	padding-left: 1em;
	padding-right: 1em;
	-moz-user-select: text;
	transition: background-color 0.3s;
}

.view-directory-path.deniedAccess {
	background-color: #FFB2B2;
}

.view-directory-path.deniedAccess:before {
	content: '<!>  ';
}

/* page style */
 
.settings-page {
	padding: 2em 3em;
	overflow-y: auto;
	background-color: $clr-paper;
}

.settings-page > *:first-child {
	margin-top: 0;
}

.nav-image {
	color: black;
}

.nav-image:hover {
	color: #999;
}

/* external programs */

.extprogram {
	background: #dadada;
	padding: 0.6em;
}

/* external applications */

#application-list {
	-moz-user-select: none;
	cursor: default;
}

.applist-img {
	width: 64px;
	height: 64px;
	margin-right: 18px;
}

.applist-title {
	font-weight: bold;
	font-size: 1.6em;
}

.applist-path {
	font-style: italic;
}

/*-- Infotooltip --*/

.infotooltip {
	width: 16px;
	color: $ui-text-clr;
	
	.icon-info {
		margin-left: 8px;
		color: $ui-text-clr;
		
		&:hover {
			color: $text-clr;
		}
	}
}

/*-- Module Overview --*/

.moduleentry {
	width: 260px;
	border: 1px solid $clr-border;
	background: $clr-paper;
	margin: 10px;
	position: relative;
	
	.modulebackground {
		transition: filter 0.4s;
	}
	
	.modulebglayer {
		background-size: auto 80%;
		transition: opacity 0.2s,
					background-size 0.2s;
	}
	
	.icon-warning {
		color: $interact-red;
		margin-left: 5px;
		margin-top: 5px;
		line-height: 16px;
		position: absolute;
	}
	
	&:not(.forced) {
		.module-forced {
			display: none;
		}
	}
	
	&.configurable {
	
		.modulebglayer:hover {
			opacity: 1;
			
			background: $svg-url-gear;
			background-position: center;
			background-repeat: no-repeat;
			background-size: auto 100%;
			
			outline: 1px solid $clr-border-grey;
		}
		
		.bg-stack {
			cursor: pointer;
		}
	}
	
	&.deactivated {
		.modulebackground {
			filter: grayscale(100%);
		}
		
		.modulebglayer {
			opacity: 1;
		}
	}
	
	&.deactivated .mst-left,
	&:not(.deactivated) .mst-right {
		-moz-box-flex: 1;
	}
	
	&.deactivated .mst-right,
	&:not(.deactivated) .mst-left {
		-moz-box-flex: 0;
		max-width: 0;
		overflow: hidden;
	}

	spacer {
		background: none !important;
		border: none !important;
	}
	
	.moduleinfo {
		background: $clr-base;
		border-top: 1px solid $clr-border;
		color: $ui-text-clr;
		
		font-size: 1.2em;
		line-height: 1.8em;
		height: 1.6em;
		padding: 0.2em;
		
		cursor: default;
	}
}

.module-state-toggle {
	background-color: $clr-base;
	border: 1px solid $clr-border;
	color: $ui-text-clr;
	
	&:hover {
		border: 1px solid $clr-border-grey;
	}
	
	&:hover .mst-thumb{
		background: -moz-linear-gradient(top, white 0%, $clr-base 100%);
	}
	
	&:active .mst-thumb {
		background: -moz-linear-gradient(top, $clr-empty 0%, $clr-border 100%);
	}
	
	label {
		line-height: 14px;
		font-size: 14px;
	}
}

.mst-right {
	background-color: rgb(190, 255, 200);
	box-shadow: 3px 0 5px -5px grey inset;
}

.mst-left {
	background-color: rgb(255, 240, 200);
	box-shadow: -3px 0 5px -5px grey inset;
}

.mst-thumb {
	background: -moz-linear-gradient(top, $clr-paper 0%, $clr-empty 100%);
}


/*-- Module Subpage --*/

.module-subpage-header {
	border-bottom: 1px solid gainsboro;
	margin: 0 1em;
	padding: 0 3em;
}

.module-subpage-caption {
	font-size: 1.5em;
}

.module-subpage-button {
	/*-- button style --*/
}

.module-subpage-content {
	padding: 1.2em 1.6em;
}

/*	need some space	*/