html, body {
	background-color: rgb(245, 245, 245);
	font-family: $font-stack;
	color: $text-clr;
	padding: 0;
	margin: 0;
}

html, body, #wrapper {
	height: 100%;
	width: 100%;
}

#wrapper {
	position: relative;
}

#reference-container {
	width: 60%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	
	overflow-y: auto;
	padding: 0 1.5em;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-moz-user-select: none;
}

#game-info {
	width: 40%;
	max-width: 40%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	
	overflow-y: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	padding-top: 1em;
	
	cursor: default;
}

#game-info-wrapper {
	padding: 0 10%;
}

#toolbar {
	color: rgb(180, 180, 180);
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	margin-bottom: 7px;
}

#toolbar-wrapper > *{
	display: inline-block;
	margin-left: 5px;
}

#toolbar-wrapper > *:hover{
	color: grey;
}

#ref-layout-list > * {
	display: none;
}

#ref-layout-list > *:first-child {
	display: inline-block;
}

#ref-toggle-update.enabled {
	color: $interact-blue;
}

/*	references 	*/

#reference-list {
	width: 100%;
	-moz-appearance: none;
	display: table;
	padding: 0;
	border-collapse: collapse !important;
	
	
	.reference.runtimejoin {
		color: rgb(40, 40, 40);
	}
}

.reference {
	background-color: white;
	background-color: rgb(250, 250, 250);
	width: 33.3%;
	height: 6em;
	float: left;
	display: table-cell;
	cursor: pointer;
	font-size: 0.8em;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	border-collapse: collapse;
	
	/*  workaround ... */
	
	border: none;
	box-shadow: 
		1px 0 0 0 rgb(230, 230, 230), 
		0 1px 0 0 rgb(230, 230, 230), 
		1px 1px 0 0 rgb(230, 230, 230),
		1px 0 0 0 rgb(230, 230, 230) inset, 
		0 1px 0 0 rgb(230, 230, 230) inset;
	
	background-image: repeating-linear-gradient(-45deg, 
		transparent, 
		transparent 4px, 
		rgb(240, 240, 240) 4px, 
		rgb(240, 240, 240) 5px);
	
	p {
		margin: 0;
	}
	
	&:hover {
		outline: 3px solid $clr-border;
		outline-offset: -3px;
	}
	
		
	/* reference classes to control their appearence:

		reference-
			draft
			running
			runtimejoin
			password
			league
			portsopen
	*/

	&.running {
		color: grey;
	}

	&.running .ref-titleimage {
		filter: grayscale(100%);
	}

	.password-icon,
	.league-icon {
		display: none;
	}

	&.password .password-icon,
	&.league .league-icon {
		display: inline-block;
	}
	
	&.ref-selected {
		outline: 3px solid $interact-orange;
		outline-offset: -3px;
	}
	
	&.reference-draft {
		display: none;
	}
}

.ref-flexwrapper {
	display: flex;
}

.ref-content {
	flex: 1;
	padding: 0.5em;
}

.ref-title {
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ref-hostname {
	font-size: 0.8em;
	color: grey;
	display: block;
}

.ref-info {
	width: 100%;
	padding: 0.5em;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ref-playerinfo {
	float: right;
}

.ref-playercount {
	font-size: 1.4em;
}

.ref-icons > img {
	width: 16px;
	height: 16px;
}

.ref-icons {
	float: left;
	clear: left;
}

.ref-playernames {
	float: left;
	clear: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80%;
}

.ref-titleimage {
	height: 6em;
}

.portsopen {
	background-image: none;
}

#ports-tooltip {
	width: 180px;
	height: 60px;
	word-wrap: break-word;
	background-color: black;
	color: white;
	font-size: 8pt;
	
	transition: opacity 0.3s;
	
	position: absolute;
	padding: 3px;
	z-index: 100;
	opacity: 0;
	
	pointer-events: none;
}
#ports-tooltip.visible { opacity: 0.5; display: block;}
/*	layout specifics	*/

#reference-list {
	
	&.ref-layout-shortinfo .reference:nth-child(3n+2) {
		clear: left;
	}

	&.ref-layout-shortinfo .ref-playernames {
		display: none;
	}

	&.ref-layout-shortinfo .ref-comment {
		display: none;
	}

	&.ref-layout-classic .ref-playerinfo,
	&.ref-layout-longinfo .ref-playerinfo {
		display: none;
	}

	&.ref-layout-classic .ref-content {
		position: relative;
	}

	&.ref-layout-shortinfo .ref-titleimage,
	&.ref-layout-longinfo .ref-titleimage {
		display: none;
	}

	&.ref-layout-classic .ref-icons,
	&.ref-layout-longinfo .ref-icons {
		float: right;
		clear: none;
	}

	&.ref-layout-longinfo .reference {
		width: 50%;
	}

	&.ref-layout-longinfo .reference:nth-child(2n) {
		clear: left;
	}

	&.ref-layout-classic .reference {
		clear: left;
		width: 100%;
		outline: none;
	}
	
	&.ref-layout-classic .reference:hover {
		outline: none;
		box-shadow: -5px 0 0 0 $interact_orange,
					5px 0 0 0 $interact_orange;
	}
	&.ref-layout-classic .reference.ref-selected {
		outline: none;
		box-shadow: -5px 0 0 0 $clr-border,
					5px 0 0 0 $clr-border;
	}
}


/* description */


#game-info.selected-ref #game-ref-info,
#game-info-motd {
	display: initial;
}

#game-info.selected-ref #game-info-motd,
#game-ref-info {
	display: none;
}

#game-info h2 {
	padding: 0;
	margin: 0.5em 0 0.5em 0;
	border-bottom: 1px solid gainsboro;
	display: block;
	
	font-size: 0.7em;
	color: grey;
	font-weight: normal;
/*	letter-spacing: 3px;*/
	text-transform: uppercase;
}

h2 {
	background-color: inherit;
	-moz-appearance: none;
	font-family: "Segoe UI", Verdana, sans-serif;
}

#game-playerlist p {
	margin: 0.2em 0;
}

#game-playerlist > *:hover {
	background-color: rgb(245, 245, 245);
}

.game-player-name, 
.game-player-clientname {
	display: inline-block;
}

.game-player-clientname {
	float: right;
}

#game-title {
	margin: 0;
	font-size: 20px;
	line-height: 20px;
	font-family: "Segoe UI", "Trebuchet MS", Verdana, sans-serif;
	padding: 0;
}

#game-infowrapper1 {
	display: flex;

	#game-time {
		text-align: right;
	}
	#game-hostname, #game-time {
		flex: 1;
		margin-top: 10px;
		font-size: 15px;
		line-height: 15px;
		padding: 0;
	}
}

/* button */

#ressavemode-btn {
	display: none;

	&.ressavemode {
		display: block;
		position: absolute;
		top: 4px;
		right: 4px;

		width: 32px;
		height: 32px;

		background-color: $clr-empty;
		z-index: 1;
		
		border-bottom: 2px solid $clr-border;
		border-radius: 3px;
		color: $ui-text-clr;
		
		background-color: $interact-red;
		color: whitesmoke;
		border-bottom: 3px solid $interact-red-dark;
	}

	&:hover {
		background-color: $interact-red-dark;
		text-shadow: 0 0 3px whitesmoke;
	}
}

/*	need some space	*/