@charset "UTF-8";
/* deprecated */
/*-- Sammelstyles fuer Inhalte der default_module.js --*/
.eventinfo {
  background-color: black;
  opacity: 0.6;
  font-size: 9pt;
  color: white;
  width: 100px;
  position: fixed;
  z-index: 100;
  padding: 2px 7px;
  pointer-events: none; }

/* Windmill Modal */
.windmill-modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  font-size: 16pt;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.windmill-modal.modal-enabled {
  opacity: 0.5;
  transition: opacity 0.5s; }

.modal-big {
  font-size: 24pt; }

@font-face {
  font-family: 'icomoon';
  src: url("chrome://windmill/skin/icomoon.ttf?-icmbrc") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale; }

.icon-32,
.icon-24,
.icon-16 {
  cursor: default; }

.icon-16 {
  font-size: 16px; }

.icon-24 {
  font-size: 24px; }

.icon-32 {
  font-size: 32px;
  color: white; }

.icon-clonkpath:before {
  content: "\e90b"; }

.icon-console:before {
  content: "\e90c"; }

.icon-eye:before {
  content: "\e90d"; }

.icon-reload-2:before {
  content: "\e90e"; }

.icon-workspace:before {
  content: "\e90f"; }

.icon-environment:before {
  content: "\e903"; }

.icon-landscape:before {
  content: "\e904"; }

.icon-objects:before {
  content: "\e906"; }

.icon-reload:before {
  content: "\e908"; }

.icon-wireframe2:before {
  content: "\e909"; }

.icon-canvas-scale:before {
  content: "\e900"; }

.icon-reflect-h:before {
  content: "\e901"; }

.icon-reflect-v:before {
  content: "\e902"; }

.icon-undo:before {
  content: "\e965"; }

.icon-redo:before {
  content: "\e966"; }

.icon-bg-filled:before {
  content: "\e629"; }

.icon-grid:before {
  content: "\e631"; }

.icon-restore:before {
  content: "\e632"; }

.icon-transparent:before {
  content: "\e633"; }

.icon-the-mill:before {
  content: "\e634"; }

.icon-warning:before {
  content: "\e635"; }

.icon-wireframe:before {
  content: "\e636"; }

.icon-empty-space:before {
  content: "\e637"; }

.icon-draw-line:before {
  content: "\e62b"; }

.icon-erase:before {
  content: "\e62c"; }

.icon-fill-circle:before {
  content: "\e62d"; }

.icon-fill-rect:before {
  content: "\e62e"; }

.icon-select-poly:before {
  content: "\e62f"; }

.icon-cursor:before {
  content: "\e630"; }

.icon-doc-backwards:before {
  content: "\e601"; }

.icon-continue-at-start:before {
  content: "\e625"; }

.icon-snippet:before {
  content: "\e628"; }

.icon-whole-word:before {
  content: "\e60a"; }

.icon-csense:before {
  content: "\e61a"; }

.icon-editor-frame:before {
  content: "\e627"; }

.icon-paint-bucket:before {
  content: "\e603"; }

.icon-magic-wand:before {
  content: "\e997"; }

.icon-volume-high:before {
  content: "\ea26"; }

.icon-volume-mute2:before {
  content: "\ea2a"; }

.icon-select-rect:before {
  content: "\e61f"; }

.icon-select-circle:before {
  content: "\e620"; }

.icon-arrow-down:before {
  content: "\e621"; }

.icon-arrow-left:before {
  content: "\e622"; }

.icon-arrow-right:before {
  content: "\e623"; }

.icon-arrow-up:before {
  content: "\e624"; }

.icon-measure:before {
  content: "\e626"; }

.icon-bars-ref-1-3:before {
  content: "\e600"; }

.icon-backwards:before {
  content: "\e604"; }

.icon-backwards_sharp:before {
  content: "\e605"; }

.icon-x:before {
  content: "\e602"; }

.icon-maximize:before {
  content: "\e60e"; }

.icon-minimize:before {
  content: "\e60f"; }

.icon-multisource:before {
  content: "\e610"; }

.icon-play:before {
  content: "\e611"; }

.icon-add-player:before {
  content: "\e62a"; }

.icon-ref-2-3:before {
  content: "\e613"; }

.icon-ref-3-3:before {
  content: "\e614"; }

.icon-save:before {
  content: "\e617"; }

.icon-search:before {
  content: "\e618"; }

.icon-stop:before {
  content: "\e619"; }

.icon-trashbin:before {
  content: "\e61b"; }

.icon-pencil:before {
  content: "\e905"; }

.icon-quill:before {
  content: "\e907"; }

.icon-eyedropper:before {
  content: "\e90a"; }

.icon-folder:before {
  content: "\e92f"; }

.icon-spinner11:before {
  content: "\e984"; }

.icon-git:before {
  content: "\eae2"; }

.icon-brackets:before {
  content: "\e606"; }

.icon-cam:before {
  content: "\e607"; }

.icon-checked:before {
  content: "\e608"; }

.icon-controller:before {
  content: "\e609"; }

.icon-gear:before {
  content: "\e60b"; }

.icon-heartbeat:before {
  content: "\e60c"; }

.icon-lock:before {
  content: "\e60d"; }

.icon-players:before {
  content: "\e612"; }

.icon-resource_saviour:before {
  content: "\e615"; }

.icon-runtimejoin:before {
  content: "\e616"; }

.icon-trophy:before {
  content: "\e61c"; }

.icon-update:before {
  content: "\e61d"; }

.icon-world:before {
  content: "\e61e"; }

.icon-git-modified:before {
  content: "M"; }

.icon-git-added:before {
  content: "A"; }

.icon-git-deleted:before {
  content: "D"; }

.icon-git-renamed:before {
  content: "R"; }

.icon-git-copied:before {
  content: "C"; }

.icon-git-updatedUnmerged:before {
  content: "U"; }

.icon-git-untracked:before {
  content: "?"; }

.icon-open-external:before {
  content: "E"; }

.icon-documentation:before {
  content: "?"; }

.icon-screenshots:before {
  content: "\e904"; }

.icon-error:before {
  content: "\e90c"; }

.icon-mapwidth:before {
  content: "W"; }

.icon-mapheight:before {
  content: "H"; }

.icon-mapzoom:before {
  content: "Z"; }

.icon-noscan:before {
  content: "NoSc"; }

.icon-map-player-extend:before {
  content: "MPE"; }

.icon-amplitude:before {
  content: "A"; }

.icon-phase:before {
  content: "Ph"; }

.icon-period:before {
  content: "Pe"; }

.icon-random:before {
  content: "Rnd"; }

.icon-liquidlevel:before {
  content: "LL"; }

.icon-borders:before {
  content: "B"; }

.icon-border-top:before {
  content: "BT"; }

.icon-border-right:before {
  content: "BR"; }

.icon-border-bottom:before {
  content: "BB"; }

.icon-border-left:before {
  content: "BL"; }

.icon-auto-scan-side:before {
  content: "AutoS"; }

.icon-singleplayer:before {
  content: "\e62a"; }

.icon-password:before {
  content: "Pw"; }

.icon-comment:before {
  content: "C"; }

.icon-startgame:before {
  content: "St"; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", "Trebuchet MS", sans-serif; }

canvas {
  position: absolute;
  z-index: 0;
  image-rendering: -moz-crisp-edges; }

.canvas-wrapper {
  position: absolute;
  display: flex;
  justify-content: stretch; }

.canvas-dimension {
  position: relative;
  flex: 1; }

.visible {
  display: block !important; }

/* ruler */
#ruler-left {
  width: 18px;
  left: 0px;
  top: 0px;
  border-right: 1px solid #a0a0a0; }

#ruler-top {
  height: 18px;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #a0a0a0; }

.ruler {
  display: block;
  z-index: 6; }

.rulerdisplay {
  background-color: #dc4632;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 6; }
  .rulerdisplay.mirror-marker {
    background-color: #00a5d2; }

.rulerdisplay.hidden {
  display: hidden; }

#ruler-left-display,
#mirror-left-display {
  width: 18px;
  height: 1px; }

#ruler-top-display,
#ruler-top-display {
  width: 1px;
  height: 18px; }

/* toolbar */
#toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  cursor: default;
  z-index: 5;
  padding-left: 19px;
  /* 18px from ruler plus 1 because of its border*/
  padding-right: 4px;
  background-color: gainsboro;
  color: #282828;
  box-sizing: border-box; }

#toolbar > * {
  display: inline-block;
  line-height: 1em; }

.toolbarbutton {
  padding: 5px;
  -moz-user-select: none; }

.toolbarbutton:hover {
  background-color: #c8c8c8; }

.toolbarbutton.active:hover,
.toolbarbutton.active {
  background-color: #dc4632;
  color: white; }

.toolbarbutton.deactivated {
  color: #999; }

#toolbar .toolsettings {
  display: none; }

#toolbar .toolsettings.settings-active {
  display: inline-block; }

.toolsettings.toolbarbutton {
  padding: 0; }

#infotoolbar {
  float: right;
  width: 140px;
  text-align: right; }

#infotoolbar > * {
  display: inline-block;
  font-size: 12px;
  margin-left: 4px; }

/*
	having both enabled fails due to https://css-tricks.com/almanac/selectors/s/selection/
	#toolbar input[type=text]::selection,
	*/
#toolbar input[type=text]::-moz-selection {
  background-color: #dc4632;
  color: white; }

#toolbar input[type=text] {
  background-color: gainsboro;
  color: #282828;
  outline: 1px solid #b4b4b4;
  border: none;
  margin: 0;
  margin-left: 5px;
  margin-right: 2px;
  text-align: right;
  width: 30px; }

input[type=range] {
  -moz-appearance: none;
  margin-bottom: -3px;
  padding: 0; }

input[type=range]::-moz-range-thumb {
  background-color: #505050;
  border: none;
  margin-bottom: 0; }

input[type=range]::-moz-range-track {
  margin-bottom: 0; }

#movinglayer.active {
  display: block; }

#side-palette {
  position: fixed;
  top: 240px;
  right: 0px;
  width: 170px;
  background-color: #ebebeb;
  z-index: 8;
  outline: 1px solid #c8c8c8; }

.spalette-elm {
  width: 10px;
  height: 10px;
  background-color: black;
  border-collapse: collapse;
  border: 2px solid black; }

.spalette-elm.active {
  border: 2px solid #00a5cf; }

#spalette-b {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row; }

#material-toolbar {
  position: fixed;
  top: 50px;
  right: 0px;
  width: 170px;
  background-color: #ebebeb;
  z-index: 8;
  outline: 1px solid #c8c8c8; }

#material-button-wrapper button {
  -moz-appearance: none;
  border: 1px solid gainsboro;
  background-color: lightgrey;
  color: #505050;
  margin-top: 10px;
  cursor: pointer; }

#material-button-wrapper button:active {
  -moz-appearance: none; }

#material-button-wrapper {
  text-align: center; }

.toolbar-header {
  height: 14px;
  background-color: gainsboro;
  border-bottom: 1px solid #d2d2d2;
  font-size: 10px;
  color: #777;
  -moz-user-select: none;
  cursor: default;
  padding-left: 3px; }

.toolbar-collapse {
  float: right;
  padding-right: 5px;
  box-sizing: border-box; }

#material-b {
  padding: 5px; }

#current-material {
  width: 100%;
  height: 22px; }

#current-material-name {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  color: #282828; }

#current-material-name > input {
  width: 130px; }

.materialclr-preview {
  margin: 5px;
  width: 12px;
  height: 12px;
  outline: 3px solid #d7d7d7;
  display: inline-block;
  background-color: brown; }

/* Höhe und Breite sind mit Script verknüpft! */
#material-palette {
  margin-top: 10px;
  display: block;
  position: relative;
  height: 80px;
  width: 160px;
  left: 0px;
  top: 0px; }

select {
  width: 100px; }

/* Color Matching Wizard */
.draft {
  display: none; }

.color-matching-wizard {
  z-index: 10;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: whitesmoke;
  color: #282828;
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  /*padding: 20px 40px 0 40px;*/
  padding: 20px 40px;
  box-sizing: border-box;
  display: none;
  flex-direction: column; }

.color-matching-wizard.visible {
  display: flex; }

.cmw-title {
  font-size: 16pt;
  border-bottom: 1px solid gray;
  margin-bottom: 15px; }

.cmw-description {
  margin-bottom: 20px; }

.cmw-preview-canvas {
  /*width: 100px;
	height: 100px;*/
  position: inherit;
  display: inherit;
  box-sizing: border-box; }

.cmw-preview-canvas.darkness {
  border: 1px solid black; }

.cmw-matching {
  display: flex;
  align-items: flex-end;
  justify-content: space-around; }

.cmw-desc {
  font-size: 0.8em;
  -moz-user-select: none;
  cursor: default; }

.cmw-matching > div {
  width: 50%;
  max-width: 400px; }

.cmw-preview {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 20px; }

.cmw-preview > div {
  max-width: 50%; }

.cmw-controls {
  border-top: 1px solid #b4b4b4;
  background-color: gainsboro;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex; }

.cmw-material-selection {
  height: 200px;
  overflow-y: scroll;
  background-color: white;
  outline: 1px solid gainsboro; }

.cmw-selectcolor-palette-element {
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 2px solid #AAA;
  transition: border 0.2s; }

.cmw-containerbutton {
  padding-left: 3px;
  border-bottom: 1px solid gainsboro;
  cursor: default;
  -moz-user-select: none; }

.cmw-containerbutton:hover {
  background-color: whitesmoke; }

.cmw-containerbutton.activated {
  background-color: #ebebeb; }

.cmw-selectcolor-palette-element:hover {
  opacity: 0.6; }

.cmw-unassigned-clr {
  border: 2px solid #dc4632; }

.cmw-selected-clr {
  border: 2px solid #00a5cf;
  outline: 1px solid #00a5cf; }

.cmw-selectcolor-palette-container {
  height: 200px;
  outline: 1px solid gainsboro;
  background-color: white;
  overflow-y: scroll;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row; }

.cmw-material-selection-option {
  width: 100%;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid gainsboro;
  cursor: default;
  padding-left: 3px;
  box-sizing: border-box; }

.cmw-material-selection-option:last-child {
  border: none; }

.cmw-material-selection-option:hover {
  background-color: whitesmoke; }

.cmw-material-selection-option-name {
  float: left;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.cmw-material-selection-option-matchedclr {
  float: right;
  width: 40px;
  height: 100%;
  background: repeating-linear-gradient(-45deg, gainsboro, gainsboro 5px, #c8c8c8 5px, #c8c8c8 6px);
  transition: background 0.8s; }

.cmw-filler {
  flex-grow: 1; }

.cmw-button {
  height: 50px;
  background-color: gainsboro;
  text-align: center;
  cursor: default;
  line-height: 50px;
  padding: 0 10px;
  color: grey;
  /*
	background: repeating-linear-gradient(
		-45deg,
		gainsboro,
		gainsboro 5px,
		rgb(200,200, 200) 5px,
		rgb(200,200, 200) 6px
	);*/ }

.cmw-button:hover {
  /*
	background: repeating-linear-gradient(
			-45deg,
			gainsboro,
			gainsboro 5px,
			rgb(180, 180, 180) 5px,
			rgb(180, 180, 180) 6px
		);*/
  color: #282828; }

/*-- Suggestionbox --*/
.suggestion-box {
  display: none;
  position: absolute;
  background-color: #FFF;
  border: 1px solid black;
  z-index: 100; }

.suggestion-box.active {
  display: block; }

.suggestion-box-entry {
  width: 100%;
  height: 20px;
  line-height: 20px;
  border-bottom: 1px solid gainsboro;
  cursor: default;
  padding-left: 3px;
  box-sizing: border-box; }

.suggestion-box-entry:hover, .suggestion-box-entry.selected {
  background-color: gainsboro; }

.suggestion-box-name {
  text-overflow: ellipsis;
  overflow: hidden; }

.suggestion-box-matchedclr {
  float: right;
  width: 20px;
  height: 100%; }

#material-suggestion-box {
  width: 130px; }

/* ui rect */
.ui-rect {
  background-color: rgba(255, 255, 255, 0.15);
  outline: 1px solid rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  display: flex;
  justify-content: stretch;
  position: absolute; }

.ui-rect-container {
  flex: 1;
  position: relative;
  cursor: move; }

.ui-rect.invisible {
  display: none; }

.ui-thumb {
  width: 6px;
  height: 6px;
  border: 1px solid white;
  outline: 1px solid black;
  position: absolute; }

.ui-thumb.top-left {
  margin-top: -3px;
  margin-left: -3px;
  top: 0;
  left: 0;
  cursor: nw-resize; }

.ui-thumb.top {
  top: 0;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  cursor: n-resize; }

.ui-thumb.top-right {
  top: 0;
  right: 0;
  margin-top: -3px;
  margin-right: -3px;
  cursor: ne-resize; }

.ui-thumb.left {
  left: 0;
  top: 50%;
  margin-top: -3px;
  margin-left: -3px;
  cursor: w-resize; }

.ui-thumb.right {
  right: 0;
  top: 50%;
  margin-top: -3px;
  margin-right: -3px;
  cursor: e-resize; }

.ui-thumb.bottom-left {
  bottom: 0;
  left: 0;
  margin-left: -3px;
  margin-bottom: -3px;
  cursor: sw-resize; }

.ui-thumb.bottom {
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  margin-bottom: -3px;
  cursor: s-resize; }

.ui-thumb.bottom-right {
  bottom: 0;
  right: 0;
  margin-right: -3px;
  margin-bottom: -3px;
  cursor: se-resize; }
