/* DOM Inspector */

#domi-hover-rect {
	background-color: rgba(60, 60, 255, 0.3);
	position: absolute;
	display: none;
	pointer-events: none;
	
	padding: 0px;
	margin: 0px;
	
	z-index: 50;
}

#domi-hover-text {
	position: absolute;
	display: none;
	
	pointer-events: none;
	padding: 0px;
	margin: 0px;
	max-height: 20px;
	font-size: 14px;
	background-color: white;
	border: 1px solid black;
	
	box-sizing: border-box;
	z-index: 50;
}