/* deprecated */
/*-- Sammelstyles fuer Inhalte der default_module.js --*/
.eventinfo {
  background-color: black;
  opacity: 0.6;
  font-size: 9pt;
  color: white;
  width: 100px;
  position: fixed;
  z-index: 100;
  padding: 2px 7px;
  pointer-events: none; }

/* Windmill Modal */
.windmill-modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  font-size: 16pt;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.windmill-modal.modal-enabled {
  opacity: 0.5;
  transition: opacity 0.5s; }

.modal-big {
  font-size: 24pt; }

@font-face {
  font-family: 'icomoon';
  src: url("chrome://windmill/skin/icomoon.ttf?-icmbrc") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale; }

.icon-32,
.icon-24,
.icon-16 {
  cursor: default; }

.icon-16 {
  font-size: 16px; }

.icon-24 {
  font-size: 24px; }

.icon-32 {
  font-size: 32px;
  color: white; }

.icon-clonkpath:before {
  content: "\e90b"; }

.icon-console:before {
  content: "\e90c"; }

.icon-eye:before {
  content: "\e90d"; }

.icon-reload-2:before {
  content: "\e90e"; }

.icon-workspace:before {
  content: "\e90f"; }

.icon-environment:before {
  content: "\e903"; }

.icon-landscape:before {
  content: "\e904"; }

.icon-objects:before {
  content: "\e906"; }

.icon-reload:before {
  content: "\e908"; }

.icon-wireframe2:before {
  content: "\e909"; }

.icon-canvas-scale:before {
  content: "\e900"; }

.icon-reflect-h:before {
  content: "\e901"; }

.icon-reflect-v:before {
  content: "\e902"; }

.icon-undo:before {
  content: "\e965"; }

.icon-redo:before {
  content: "\e966"; }

.icon-bg-filled:before {
  content: "\e629"; }

.icon-grid:before {
  content: "\e631"; }

.icon-restore:before {
  content: "\e632"; }

.icon-transparent:before {
  content: "\e633"; }

.icon-the-mill:before {
  content: "\e634"; }

.icon-warning:before {
  content: "\e635"; }

.icon-wireframe:before {
  content: "\e636"; }

.icon-empty-space:before {
  content: "\e637"; }

.icon-draw-line:before {
  content: "\e62b"; }

.icon-erase:before {
  content: "\e62c"; }

.icon-fill-circle:before {
  content: "\e62d"; }

.icon-fill-rect:before {
  content: "\e62e"; }

.icon-select-poly:before {
  content: "\e62f"; }

.icon-cursor:before {
  content: "\e630"; }

.icon-doc-backwards:before {
  content: "\e601"; }

.icon-continue-at-start:before {
  content: "\e625"; }

.icon-snippet:before {
  content: "\e628"; }

.icon-whole-word:before {
  content: "\e60a"; }

.icon-csense:before {
  content: "\e61a"; }

.icon-editor-frame:before {
  content: "\e627"; }

.icon-paint-bucket:before {
  content: "\e603"; }

.icon-magic-wand:before {
  content: "\e997"; }

.icon-volume-high:before {
  content: "\ea26"; }

.icon-volume-mute2:before {
  content: "\ea2a"; }

.icon-select-rect:before {
  content: "\e61f"; }

.icon-select-circle:before {
  content: "\e620"; }

.icon-arrow-down:before {
  content: "\e621"; }

.icon-arrow-left:before {
  content: "\e622"; }

.icon-arrow-right:before {
  content: "\e623"; }

.icon-arrow-up:before {
  content: "\e624"; }

.icon-measure:before {
  content: "\e626"; }

.icon-bars-ref-1-3:before {
  content: "\e600"; }

.icon-backwards:before {
  content: "\e604"; }

.icon-backwards_sharp:before {
  content: "\e605"; }

.icon-x:before {
  content: "\e602"; }

.icon-maximize:before {
  content: "\e60e"; }

.icon-minimize:before {
  content: "\e60f"; }

.icon-multisource:before {
  content: "\e610"; }

.icon-play:before {
  content: "\e611"; }

.icon-add-player:before {
  content: "\e62a"; }

.icon-ref-2-3:before {
  content: "\e613"; }

.icon-ref-3-3:before {
  content: "\e614"; }

.icon-save:before {
  content: "\e617"; }

.icon-search:before {
  content: "\e618"; }

.icon-stop:before {
  content: "\e619"; }

.icon-trashbin:before {
  content: "\e61b"; }

.icon-pencil:before {
  content: "\e905"; }

.icon-quill:before {
  content: "\e907"; }

.icon-eyedropper:before {
  content: "\e90a"; }

.icon-folder:before {
  content: "\e92f"; }

.icon-spinner11:before {
  content: "\e984"; }

.icon-git:before {
  content: "\eae2"; }

.icon-brackets:before {
  content: "\e606"; }

.icon-cam:before {
  content: "\e607"; }

.icon-checked:before {
  content: "\e608"; }

.icon-controller:before {
  content: "\e609"; }

.icon-gear:before {
  content: "\e60b"; }

.icon-heartbeat:before {
  content: "\e60c"; }

.icon-lock:before {
  content: "\e60d"; }

.icon-players:before {
  content: "\e612"; }

.icon-resource_saviour:before {
  content: "\e615"; }

.icon-runtimejoin:before {
  content: "\e616"; }

.icon-trophy:before {
  content: "\e61c"; }

.icon-update:before {
  content: "\e61d"; }

.icon-world:before {
  content: "\e61e"; }

.icon-git-modified:before {
  content: "M"; }

.icon-git-added:before {
  content: "A"; }

.icon-git-deleted:before {
  content: "D"; }

.icon-git-renamed:before {
  content: "R"; }

.icon-git-copied:before {
  content: "C"; }

.icon-git-updatedUnmerged:before {
  content: "U"; }

.icon-git-untracked:before {
  content: "?"; }

.icon-open-external:before {
  content: "E"; }

.icon-documentation:before {
  content: "?"; }

.icon-screenshots:before {
  content: "\e904"; }

.icon-error:before {
  content: "\e90c"; }

.icon-mapwidth:before {
  content: "W"; }

.icon-mapheight:before {
  content: "H"; }

.icon-mapzoom:before {
  content: "Z"; }

.icon-noscan:before {
  content: "NoSc"; }

.icon-map-player-extend:before {
  content: "MPE"; }

.icon-amplitude:before {
  content: "A"; }

.icon-phase:before {
  content: "Ph"; }

.icon-period:before {
  content: "Pe"; }

.icon-random:before {
  content: "Rnd"; }

.icon-liquidlevel:before {
  content: "LL"; }

.icon-borders:before {
  content: "B"; }

.icon-border-top:before {
  content: "BT"; }

.icon-border-right:before {
  content: "BR"; }

.icon-border-bottom:before {
  content: "BB"; }

.icon-border-left:before {
  content: "BL"; }

.icon-auto-scan-side:before {
  content: "AutoS"; }

.icon-singleplayer:before {
  content: "\e62a"; }

.icon-password:before {
  content: "Pw"; }

.icon-comment:before {
  content: "C"; }

.icon-startgame:before {
  content: "St"; }

/*
@structure:

<div class="special-cb">
	<input id="<id"> type="checkbox"/>
	<label for="<id>"><text></label>
</div>

*/
body {
  background-color: whitesmoke;
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  color: #282828; }

div {
  -moz-user-select: none;
  cursor: default; }

scrollbar {
  display: none; }

.scenario-settings {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: whitesmoke; }

.scenario-settings.visible {
  display: flex; }

/*-- Editorframe --*/
#editorframe {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70px;
  z-index: -10;
  padding: 0px;
  display: flex; }

#editorframe > iframe {
  flex: 1; }

#editorframe.visible {
  z-index: 10; }

/*-- Navigation --*/
.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0px;
  opacity: 0;
  border-right: 1px solid #d7d7d7;
  box-sizing: border-box;
  height: 100%;
  transition: width 1s, opacity 0.6s;
  background-color: #ebebeb;
  color: grey;
  display: flex;
  flex-direction: column; }

.navigation.ready {
  width: 70px;
  opacity: 1; }

.navigation-option {
  height: 70px;
  font-size: 32px;
  text-align: center;
  line-height: 70px; }

.navigation-option:hover {
  background-color: #e6e6e6;
  color: #505050; }

.navigation-option.active {
  background-color: #e6e6e6;
  color: #505050; }

.navigation-spacer {
  flex: 1; }

/*-- Pages --*/
section {
  padding: 20px 0;
  border-bottom: 3px solid #ebebfd; }

section:last-child {
  border-bottom: none; }

.sp-head {
  text-align: center;
  font-size: 12px;
  color: #505050;
  margin-bottom: 20px; }

.settings-page-container {
  flex: 1;
  padding: 8px;
  opacity: 0;
  transition: opacity 1s;
  max-height: 100%; }

.settings-page-container.ready {
  display: block;
  opacity: 1; }

.settings-page {
  display: none;
  height: 100%; }

.settings-page.active {
  display: block; }

.loadingPage {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1; }

.loadingPage-caption {
  font-size: 32px; }

.loadingPage-subCaption {
  font-size: 18px;
  text-align: center; }

.sp-l-wrapper {
  display: flex;
  flex-direction: row; }

.sp-l-sidebar {
  width: 500px;
  height: 100%;
  border-right: 1px solid black;
  overflow-y: auto; }

.draft, .draft > * {
  display: none !important; }

/*-- Objectgroup --*/
.sp-o-group {
  flex: 1; }

.sp-o-group.inactive {
  display: none; }

.sp-o-groupwrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden; }

.sp-o-wealth {
  width: 40px;
  margin: auto; }

/*-- Selection List --*/
.definition-selection-wrapper {
  display: flex;
  width: 240px;
  height: 180px;
  overflow: hidden;
  flex-direction: column; }

.definition-selection-header,
.deflist-ao-header,
.deflist-ao-list-header {
  background-color: #2d2d2d;
  color: #fafafa;
  height: 14px;
  font-size: 8pt;
  padding: 3px 8px;
  text-align: center; }

.definition-selection-list {
  flex: 1;
  width: 240px;
  overflow-y: auto;
  background-color: #fafafa;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  border-bottom-width: 0;
  color: #505050; }

/* TODO: overflow...*/
.definition-selection-item {
  height: 24px;
  box-sizing: border-box;
  padding-left: 5px;
  -moz-user-focus: normal; }

.definition-selection-item.selected {
  background-color: #bdf; }

.definition-selection-item.invalid {
  background-color: #f2dede; }

.definition-selection-item.invalid:before {
  content: '<!>'; }

.definition-selection-item-counter:before {
  content: 'x'; }

.definition-selection-item-counter {
  float: right;
  padding-right: 5px; }

.definition-selection-btn {
  box-sizing: border-box;
  flex: 1;
  height: 20px;
  font-size: 8pt;
  line-height: 18px;
  float: right;
  text-align: center;
  background-color: gainsboro;
  color: #505050;
  border-bottom: 1px solid #b4b4b4; }

.definition-selection-btn:hover {
  background-color: #b4b4b4; }

.definition-selection-controls {
  height: 20px;
  width: 240px;
  display: flex;
  flex-direction: row; }

/*-- Deflist Adding Overlay --*/
.deflist-adding-overlay {
  position: fixed;
  top: 0;
  left: 70px;
  bottom: 0;
  right: 0;
  background-color: #fafafa;
  display: flex;
  flex-direction: column; }

.deflist-ao-body {
  flex: 1;
  display: flex;
  flex-direction: row; }

.deflist-ao-controls {
  flex-basis: 40px;
  display: flex;
  flex-direction: column;
  background-color: #ddd; }

.deflist-ao-ctrl-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s; }

.deflist-ao-ctrl-button:hover {
  background-color: #eee;
  transition: background-color 0s; }

.deflist-ao-ctrl-spacer {
  flex: 1; }

.deflist-ao-ctrl-seperator {
  height: 40px; }

.deflist-ao-listwrapper {
  flex: 1;
  overflow-y: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column; }

.deflist-ao-list-content {
  flex: 1; }

.deflist-ao-list-content > *:hover,
.definition-selection-item:hover {
  background-color: rgba(0, 165, 207, 0.15);
  outline: 1px solid rgba(0, 165, 207, 0.3);
  outline-offset: -1px; }

.deflist-ao-list-content > *.selected,
.definition-selection-item.selected {
  outline-offset: -1px;
  background-color: rgba(0, 165, 207, 0.2);
  outline: 1px solid rgba(0, 165, 207, 0.5); }

.deflist-ao-search,
.deflist-ao-list-content {
  box-sizing: border-box;
  border-right: 1px solid gainsboro; }

.deflist-ao-search {
  display: flex; }

.deflist-ao-searchinput {
  flex: 1;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  padding: 4px 6px; }

.deflist-ao-hidesearch {
  display: none; }

.deflist-ao-header,
.deflist-ao-list-header {
  display: flex;
  flex-direction: row;
  padding: 0px;
  height: 20px; }

.deflist-ao-list-header {
  border-bottom: 1px solid #141414;
  box-sizing: border-box; }

.deflist-ao-header-caption,
.deflist-ao-listheader-caption {
  flex: 1;
  padding: 3px 8px; }

.deflist-ao-header-close {
  color: grey;
  transition: background-color 0.5s, color 0.5s;
  width: 50px;
  text-align: center;
  padding: 2px; }

.deflist-ao-header-close:hover {
  color: #fafafa;
  background-color: #db4631;
  transition: background-color 0s, color 0s; }

/* Image Selection */
.sp-g-iconlabel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 10px; }

.image-selection-wrapper {
  position: relative;
  width: 80px;
  height: 80px; }
  .image-selection-wrapper .image-selection {
    position: absolute;
    background-color: white;
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80px;
    max-height: 80px;
    transition: max-width 0.5s, max-height 0.5s;
    overflow: hidden;
    width: 250px; }
    .image-selection-wrapper .image-selection:hover {
      max-width: 280px;
      max-height: 200px;
      overflow: auto; }
      .image-selection-wrapper .image-selection:hover .image-selection-item {
        display: block !important; }
      .image-selection-wrapper .image-selection:hover .selected {
        outline-offset: -1px;
        background-color: rgba(0, 165, 207, 0.2);
        outline: 1px solid rgba(0, 165, 207, 0.5); }
    .image-selection-wrapper .image-selection .image-selection-item .image-selection-image {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .image-selection-wrapper .image-selection .image-selection-item .image-selection-caption {
      text-align: center; }
    .image-selection-wrapper .image-selection .image-selection-item:hover {
      background-color: rgba(0, 165, 207, 0.15);
      outline: 1px solid rgba(0, 165, 207, 0.3);
      outline-offset: -1px; }
    .image-selection-wrapper .image-selection .image-selection-item:not(.selected) {
      display: none; }

.image-selection-wrapper.size-24 {
  width: 50px;
  height: 50px; }
  .image-selection-wrapper.size-24 .image-selection {
    max-width: 50px;
    max-height: 50px;
    width: 220px;
    justify-content: space-around; }
    .image-selection-wrapper.size-24 .image-selection:hover {
      max-width: 220px;
      max-height: 136px;
      overflow: auto; }
    .image-selection-wrapper.size-24 .image-selection .image-selection-item {
      margin: 5px; }
      .image-selection-wrapper.size-24 .image-selection .image-selection-item .image-selection-image {
        width: 24px;
        height: 24px; }

.image-selection-wrapper.size-32 {
  width: 62px;
  height: 62px; }
  .image-selection-wrapper.size-32 .image-selection {
    max-width: 62px;
    max-height: 62px;
    width: 240px;
    justify-content: space-around; }
    .image-selection-wrapper.size-32 .image-selection:hover {
      max-width: 240px;
      max-height: 148px;
      overflow: auto; }
    .image-selection-wrapper.size-32 .image-selection .image-selection-item {
      margin: 5px; }
      .image-selection-wrapper.size-32 .image-selection .image-selection-item .image-selection-image {
        width: 32px;
        height: 32px; }

/* Range */
.sp-range {
  position: relative;
  display: flex; }
  .sp-range:not(.autosize) .sp-rangelabel {
    min-width: 100px; }
  .sp-range input[type='range'] {
    flex: 1; }
    .sp-range input[type='range']::-moz-range-track {
      background-color: gainsboro;
      height: 100%; }
    .sp-range input[type='range']::-moz-range-thumb {
      background-color: #00a5d2;
      border-radius: 0;
      border: 0;
      height: 100%;
      width: 14px; }
    .sp-range input[type='range']:active ~ .range-tooltip, .sp-range input[type='range']:hover ~ .range-tooltip {
      transition-delay: 0s;
      opacity: 1 !important; }
  .sp-range .range-tooltip {
    opacity: 0;
    position: absolute;
    top: -25px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0 2px;
    pointer-events: none;
    transition: opacity 0.4s;
    transition-delay: 0.148s; }
    .sp-range .range-tooltip.defaultval {
      background: #dc4632; }

.sp-l-sidebar .range-tooltip {
  opacity: 1 !important; }

/* Landscape Page */
.flexwrapper {
  display: flex;
  justify-content: space-around;
  margin: 5px 0px; }
  .flexwrapper .flexitem {
    flex: 1;
    margin: 0 15px; }

.iconcb:hover, .iconcb.active {
  color: #dc4632; }

.sidebar-wrapper {
  width: 300px;
  box-sizing: border-box;
  position: absolute;
  left: 70px;
  top: 0;
  bottom: 0;
  padding: 15px;
  background: #eee;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  .sidebar-wrapper > :not(:last-child) {
    border-bottom: 1px solid gainsboro; }

.group {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center; }
  .group > * {
    flex: 1;
    margin: 15px 0; }

.sp-l-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 370px;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid gainsboro;
  margin: 35px;
  background: linear-gradient(to top left, rgba(220, 220, 220, 0) 0%, rgba(220, 220, 220, 0) calc(50% - 0.8px), gainsboro 50%, rgba(220, 220, 220, 0) calc(50% + 0.8px), rgba(220, 220, 220, 0) 100%), linear-gradient(to top right, rgba(220, 220, 220, 0) 0%, rgba(220, 220, 220, 0) calc(50% - 0.8px), gainsboro 50%, rgba(220, 220, 220, 0) calc(50% + 0.8px), rgba(220, 220, 220, 0) 100%); }

/* special check boxes /big buttons/ */
.special-cb .cblabel {
  background-color: gainsboro;
  border-bottom: 1px solid #b4b4b4;
  padding: 5px 10px;
  outline: none;
  color: #505050;
  border-radius: 2px;
  pointer-events: auto;
  -moz-user-select: auto; }

.special-cb .cblabel:hover {
  background-color: #b4b4b4;
  outline: none; }

.special-cb input:checked + .cblabel {
  background-color: #dc4632;
  border-bottom-color: #c8321e;
  color: whitesmoke; }

.special-cb input:checked + .cblabel:hover {
  background-color: #c8321e;
  border-bottom-color: #c8321e; }

.special-cb input {
  display: none; }

/*-- Number inputs --*/
.sp-number-input {
  padding: 5px 10px;
  padding-right: 3px;
  /* -2px padding from spinners */
  display: inline-flex;
  background-color: gainsboro;
  border-bottom: 1px solid #b4b4b4;
  padding: 5px 10px;
  padding-right: 3px;
  /* -2px padding from spinners */
  color: #505050;
  display: inline-flex;
  outline: none; }
  .sp-number-input label {
    margin-right: 5px; }
  .sp-number-input * {
    background-color: inherit; }

.sp-number-input input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  -moz-appearance: textfield;
  color: #505050;
  text-align: right;
  padding-left: 2px;
  padding-right: 2px; }

.input-spinners {
  display: inline-flex;
  flex-direction: column; }

.input-spinners-button {
  min-width: 10px;
  font-size: 8px;
  padding: 2px 2px 2px 3px;
  flex: 1;
  pointer-events: auto; }

.sp-number-input .input-spinners-button:hover {
  background-color: #b4b4b4; }

/*-- Radiobuttons --*/
.sp-radiogroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px; }

.sp-radiobutton {
  flex: 1;
  line-height: 38px;
  text-align: center;
  border-top: 3px solid #b4b4b4;
  background-color: gainsboro;
  transition: background-color 0.5s;
  color: #282828; }

.sp-radiobutton:hover {
  background-color: #c8c8c8;
  transition: background-color 0s; }

.sp-radiobutton.active {
  border-top-color: #db4631; }

/*-- Settingsgroups --*/
.sp-settingsgroup-header {
  background-color: #333;
  color: white;
  height: 14px;
  display: flex;
  font-size: 8pt;
  padding: 3px 8px; }

.sp-settingsgroup-header:hover {
  color: #d7d7d7; }

.sp-settingsgroup-caption {
  flex: 1; }

.sp-settingsgroup-collapse {
  width: 20px; }

.sp-settingsgroup {
  border-bottom: 1px solid black;
  background-color: #FFF; }

/*-- Borders --*/
.sp-l-borders {
  position: relative;
  height: 40px; }
  .sp-l-borders .sp-borders {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px; }
    .sp-l-borders .sp-borders.sp-borders-top {
      border-top: 1px dashed black; }
    .sp-l-borders .sp-borders.sp-borders-right {
      border-right: 1px dashed black; }
    .sp-l-borders .sp-borders.sp-borders-bottom {
      border-bottom: 1px dashed black; }
    .sp-l-borders .sp-borders.sp-borders-left {
      border-left: 1px dashed black; }
    .sp-l-borders .sp-borders.active.sp-borders-top {
      border-top: 3px solid black; }
    .sp-l-borders .sp-borders.active.sp-borders-right {
      border-right: 3px solid black; }
    .sp-l-borders .sp-borders.active.sp-borders-bottom {
      border-bottom: 3px solid black; }
    .sp-l-borders .sp-borders.active.sp-borders-left {
      border-left: 3px solid black; }
  .sp-l-borders:hover {
    flex: 1;
    width: 240px; }
    .sp-l-borders:hover ~ .sp-l-autoscanside {
      display: none; }
    .sp-l-borders:hover .sp-borders-top {
      border: 1px dashed black;
      border-top: 3px solid black;
      left: 20px; }
      .sp-l-borders:hover .sp-borders-top:hover {
        border-top: 3px solid #8c140a; }
      .sp-l-borders:hover .sp-borders-top.active {
        border-top: 3px solid #dc4632; }
    .sp-l-borders:hover .sp-borders-right {
      border: 1px dashed black;
      border-right: 3px solid black;
      left: 73px; }
      .sp-l-borders:hover .sp-borders-right:hover {
        border-right: 3px solid #8c140a; }
      .sp-l-borders:hover .sp-borders-right.active {
        border-right: 3px solid #dc4632; }
    .sp-l-borders:hover .sp-borders-bottom {
      border: 1px dashed black;
      border-bottom: 3px solid black;
      left: 127px; }
      .sp-l-borders:hover .sp-borders-bottom:hover {
        border-bottom: 3px solid #8c140a; }
      .sp-l-borders:hover .sp-borders-bottom.active {
        border-bottom: 3px solid #dc4632; }
    .sp-l-borders:hover .sp-borders-left {
      border: 1px dashed black;
      border-left: 3px solid black;
      left: 180px; }
      .sp-l-borders:hover .sp-borders-left:hover {
        border-left: 3px solid #8c140a; }
      .sp-l-borders:hover .sp-borders-left.active {
        border-left: 3px solid #dc4632; }

/*-- Checkbox-Textinputs --*/
.sp-checkinput {
  display: inline-flex;
  flex-direction: row;
  height: 22px;
  width: 100px;
  border: 1px solid #777;
  transition: border 0.5s; }

.sp-checkinput:hover {
  border: 1px solid #aaa;
  transition: border 0s; }

.sp-checkinput > * {
  height: 22px; }

.sp-checkinput-check {
  width: 100%;
  transition: width 0.3s, background-color 0.5s;
  color: white;
  background-color: #777;
  text-align: center; }

.sp-checkinput-check:hover {
  background-color: #aaa;
  transition: width 0.3s, background-color 0s; }

.sp-checkinput-check.checked {
  width: 30px; }

.sp-checkinput-text {
  flex: 1;
  box-sizing: border-box;
  min-width: 0px;
  padding: 2px 0px;
  background-color: white;
  border: 0px; }

h2 {
  margin: 0.7em 0;
  background-color: inherit;
  font-size: 1em;
  color: #505050; }

h1 {
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #d7d7d7;
  margin: 1em 0; }

.flex-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px; }

.flex-spacer {
  flex: 1; }

.nav-errorlog {
  position: relative; }

.nav-errorlog-iconoverlay {
  position: absolute;
  top: 22px;
  right: 18px;
  background-color: #ff4e4e;
  color: white;
  font-size: 10px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-align: center; }
  .nav-errorlog-iconoverlay.hidden {
    display: none; }

#errorlog {
  position: absolute;
  left: 70px;
  right: 0;
  bottom: 0;
  height: 0px;
  opacity: 0;
  transition: opacity 0.5s;
  background-color: white;
  z-index: 1001203123;
  border-top: 1px solid #ccc;
  box-shadow: 2px 0 -2px #000;
  height: 240px;
  pointer-events: none; }

#errorlog.show {
  opacity: 1;
  pointer-events: auto; }

.errorlog-item {
  display: flex; }
  .errorlog-item .errorlog-item-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em; }
  .errorlog-item .errorlog-item-content {
    flex: 1;
    padding-left: 5px; }
  .errorlog-item.hidden {
    display: none; }

.errorlog-item.error {
  width: 100%; }
  .errorlog-item.error .errorlog-item-type {
    background-color: #ff4e4e;
    color: white;
    text-align: center;
    font-weight: bold; }
  .errorlog-item.error .errorlog-item-content {
    background-color: #ffeded; }
