/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== xulscrollbars.css ==============================================
  == Styles used by XUL scrollbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* ::::: scrollbar ::::: */

scrollbar {
  -moz-binding: url("chrome://windmill/skin/overrides/bindings/scrollbar.xml#scrollbar");
  cursor: default;
  pointer-events: auto;
}

@media all and (-moz-overlay-scrollbars) {
  scrollbar[root="true"] {
    position: relative;
    z-index: 2147483647; /* largest positive value of a signed 32-bit integer */
  }

  scrollbar:not([active="true"]),
  scrollbar[disabled="true"] {
    visibility: hidden;
  }
}

scrollbar[orient="vertical"] 
{
   -moz-appearance: scrollbartrack-vertical;
}

/* ::::: thumb (horizontal) ::::: */

thumb {
  min-height: 10px;
  min-width: 10px;
}


/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner { 
  /* XXX -moz-appearance: scrollcorner; */
  -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar-base);
  width: 10px;
  cursor: default;
}

scrollbar,
scrollbar[orient="vertical"]  {
  -moz-appearance: none;
  position: relative;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  outline: 0px solid transparent;
  z-index: 2147483647;
  -moz-box-align: start;
}

scrollbar-base {
	border: 0 solid transparent;
	outline: 1px solid green;
}

scrollbar[orient="vertical"] {
  -moz-margin-start: -6px;
  min-width: 10px;
  max-width: 10px;
}

scrollbar[orient="horizontal"] {
  margin-top: -6px;
  min-height: 10px;
  max-height: 10px;
}

thumb {
	-moz-appearance: none !important;
	position: absolute;
	background-color: rgb(180, 180, 180);
}

thumb:active,
thumb[active="true"],
thumb:hover {
	background-color: grey;
}