/* context menu */

.contextmenu {
	background-color: transparent;
	border: 1px solid $clr-border;
	min-width: 180px;
	max-width: 600px;
	-moz-user-focus: normal;
	-moz-user-select: none;
	color: rgb(40, 40, 40);
	
	&:hover {
		border-color: $clr-border-grey;
	}
}

.ctx-wrapper {
	background-color: rgb(235,235,235);
	padding: 5px;
}

.ctx-menuitem {
	font-size: 11pt;
	height: 20px;
	padding: 1px 4px;
	cursor: default;
}

.ctx-menuitem {
	&.ctx-checklistitem, &.ctx-radioitem {
		.ctx-prepend:before {
			@include -checked();
			color: transparent;
			letter-spacing: 0;
			font-family: 'icomoon';
			font-size: 16px;
			line-height: 16px;
			height: 1em;
			padding-top: 5px;
			cursor: default;
		}

		&.ctx-menutype-selected .ctx-prepend:before {
			color: $clr-blue;
		}
	}
	.ctx-submenuindicator:before {
		width: 16px;
		height: 16px;
		color: $clr-text-ui;
	}
	.ctx-submenuindicator:not(.has-submenu):before {
		display: block;
		content: " ";
	}
	.ctx-keybinding {
		display: block;
		max-width: 90px;
		color: grey;
		overflow: hidden;
		text-align: right;
	}
	
	&:hover,
	&.selected  {
		@include hover-blue();
	}
	
	&:hover > .ctx-keybinding{
		color: $clr-text-ui;
	}
	
	/*-- HTML only --*/
	.ctx-other {
		float: right;
	}
}

.ctx-disabled {
	color: grey;
}
.ctx-locked {
	color: rgba(127, 127, 127, 0.5);
	transition: color 1s;
}
.ctx-locked:hover {
	background-color: transparent;
}
.ctx-menuseperator {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.ctx-container {
	background-image: url("resource://windmill/img/ctx-container.png");
	background-position: right center;
	background-repeat: no-repeat;
}

.ctx-menuicon {
	margin-right: 10px;
	-moz-box-align: center;
}