/* dialog */

#wdialogmodal {
	pointer-events: none;
	background-color: black;
	transition: opacity 0.5s;
	opacity: 0;
}

#wdialogmodal.visible {
	pointer-events: auto;
	opacity: 0.3;
}

#wdialogmodal.visible .main-wdialog-wrapper {
	box-shadow: none;
}

.main-wdialog {	-moz-user-focus: normal; pointer-events: none; }

.main-wdialog-wrapper {
	background-color: $clr-paper;
	min-height: 60px;
	min-width: 100px;
	color: $text-clr;
	box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.3);
	pointer-events: initial;
	border-top: 1px solid $clr-paper;
	border-bottom: 1px solid rgb(150, 150, 150);
	
	radiogroup {
		display: flex;
		flex-direction: row;
		radio {
			flex: 1;
			-moz-appearance: none;
			&[selected="true"] {
				background-color: $interact-red;
				color: white;
			}
			transition: background-color 0.1s, color 0.1s;
		}
	}
}

.main-wdialog-title {
	padding: 2px 5px;
}

.main-wdialog-head {
	border-bottom: 1px solid $clr-border;
	background-color: $clr-base;
	min-height: 30px;
	color: $ui-text-clr;
	padding: 0.5em 1em;
	cursor: default;
}

.main-wdialog-content {
	padding: 5px 1em;
	font-size: 10pt;
}

.main-wdialog-footer {
	padding: 5px;
}

.main-wdialog-button {
	border: 1px solid $clr-border;
	color: $ui-text-clr;
	background: $clr-base;
	
	&:hover {
		border: 1px solid $clr-border-grey;
		background-color: $clr-empty;
	}
	
	&:active {
		background-color: $clr-border;
	}
}

.main-wdialog-wrapper  textbox {
	margin-left: 0;
	margin-right: 0;
	border: 1px solid rgb(200, 200, 200);
}

.dlg-infobox {
	padding: 5px;
	border: 1px solid gainsboro;
	font-size: 9pt;
	text-align: justify;
	margin: 5px 0px;

	&.error {
		background-color: #FFB2B2;
		border-color: #CCB1B1;
		-moz-user-select: text;
	}
	&.whitespaces {
		white-space: pre-wrap;
	}
}

/* Checklist */

.dlg-checklistbox { 
	min-height: 27px; 
	max-height: 180px; 
	overflow: auto;
	border: 1px solid rgb(235, 235, 235);
	color: rgb(60, 60, 60);
	-moz-box-pack: center;
	padding: 3px 0px;
	-moz-user-focus: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('resource://wmstyles/icomoon.ttf?-icmbrc') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.dlg-checklistitem { 
	overflow: hidden;
	cursor: default;
	padding-left: 5px;
	background-color: white;
	color: rgb(120, 120, 120);
	padding-left: 14px;
	-moz-user-focus: normal;
}

.dlg-checklistitem:before {
	outline: 1px solid gainsboro;
	display: inline-block;
	overflow: visible;
	font-family: 'icomoon';
	font-size: 14px;
	margin-right: 14px;
	content: "\00a0 \00a0";
}

.dlg-checklistitem.selected:before {
	content: "\e608";
}

.dlg-checklistitem:hover, .dlg-checklistitem:focus { 
	background-color: rgba(0, 165, 207, 0.15);
	outline: 1px solid rgba(0, 165, 207, 0.3);
	outline-offset: -1px;
}

.dlg-checklistitem.selected { 
	color: steelblue;
}

.dlg-checklistitem.hidden {
	display: none;
}

/* Listbox */

.dlg-listbox { -moz-user-focus: normal; }
.dlg-list-head, .dlg-list-item { padding: 4px 6px; }
.dlg-list-item { -moz-user-focus: normal; }
.dlg-list-head { background: #DDD; }
.dlg-list-item.hidden { display: none; }

.dlg-list-item.selected, .dlg-list-item:hover, .dlg-list-item:focus {
	background-color: rgba(0, 165, 207, 0.15);
	outline: 1px solid rgba(0, 165, 207, 0.3);
	outline-offset: -1px;
}
