@font-face {
	font-family: 'icomoon';
	src:url('resource://wmstyles/icomoon.ttf?-icmbrc') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	-moz-osx-font-smoothing: grayscale;
}

.icon-48,
.icon-32,
.icon-24,
.icon-20,
.icon-16 {
	cursor: default;
}

.icon-16 {
	font-size: 16px;
}

.icon-20 {
	font-size: 20px;
}

.icon-24 {
	font-size: 24px;
}

.icon-32 {
	font-size: 32px;
}

.icon-48 {
	font-size: 48px;
}

.icon-clonkpath:before {
    @include -clonkpath();
}
.icon-console:before {
    @include -console();
}
.icon-eye:before {
    @include -eye();
}
.icon-reload:before {
    @include -reload-3();
}
.icon-workspace:before {
    @include -workspace();
}
.icon-environment:before {
    @include -environment();
}
.icon-landscape:before {
    @include -landscape();
}
.icon-objects:before {
    @include -objects();
}
.icon-wireframe2:before {
    @include -wireframe2();
}
.icon-canvas-scale:before {
    @include -canvas-scale();
}
.icon-reflect-h:before {
    @include -reflect-h();
}
.icon-reflect-v:before {
    @include -reflect-v();
}
.icon-undo:before {
    @include -undo();
}
.icon-redo:before {
    @include -redo();
}
.icon-bg-filled:before {
    @include -bg-filled();
}
.icon-grid:before {
    @include -grid();
}
.icon-restore:before {
    @include -restore();
}
.icon-transparent:before {
    @include -transparent();
}
.icon-the-mill:before {
    @include -the-mill();
}
.icon-warning:before {
    @include -warning();
}
.icon-wireframe:before {
    @include -wireframe();
}
.icon-empty-space:before {
    @include -empty-space();
}
.icon-draw-line:before {
    @include -draw-line();
}
.icon-erase:before {
    @include -erase();
}
.icon-fill-circle:before {
    @include -fill-circle();
}
.icon-fill-rect:before {
    @include -fill-rect();
}
.icon-select-poly:before {
    @include -select-poly();
}
.icon-cursor:before {
    @include -cursor();
}
.icon-doc-backwards:before {
    @include -doc-backwards();
}
.icon-continue-at-start:before {
    @include -continue-at-start();
}
.icon-snippet:before {
    @include -snippet();
}
.icon-whole-word:before {
    @include -whole-word();
}
.icon-csense:before {
    @include -csense();
}
.icon-editor-frame:before {
    @include -editor-frame();
}
.icon-paint-bucket:before {
    @include -paint-bucket();
}
.icon-magic-wand:before {
    @include -magic-wand();
}
.icon-volume-high:before {
    @include -volume-high();
}
.icon-volume-mute2:before {
    @include -volume-mute2();
}
.icon-select-rect:before {
    @include -select-rect();
}
.icon-select-circle:before {
    @include -select-circle();
}
.icon-arrow-down:before {
    @include -arrow-down();
}
.icon-arrow-left:before {
    @include -arrow-left();
}
.icon-arrow-right:before {
    @include -arrow-right();
}
.icon-arrow-up:before {
    @include -arrow-up();
}
.icon-measure:before {
    @include -measure();
}
.icon-backwards:before {
    @include -backwards();
}
.icon-backwards_sharp:before,
.icon-backwards-sharp:before {
    @include -backwards-sharp();
}
.icon-x:before {
    @include -x();
}
.icon-x-small:before {
    @include -x-s();
}
.icon-maximize:before {
    @include -maximize();
}
.icon-minimize:before {
    @include -minimize();
}
.icon-multisource:before {
    @include -multisource();
}
.icon-play:before {
    @include -play();
}
.icon-add-player:before {
    @include -add-player();
}
.icon-bars-ref-1-3:before {
    @include -bars-ref-1-3();
}
.icon-ref-2-3:before {
    @include -ref-2-3();
}
.icon-ref-3-3:before {
    @include -ref-3-3();
}
.icon-save:before {
    @include -save2();
}
.icon-search:before {
    @include -search();
}
.icon-stop:before {
    @include -stop();
}
.icon-trashbin:before {
    @include -trashbin();
}
.icon-pencil:before {
    @include -pencil();
}
.icon-quill:before {
    @include -quill();
}
.icon-eyedropper:before {
    @include -eyedropper();
}
.icon-folder:before {
    @include -folder();
}
.icon-spinner11:before {
    @include -spinner11();
}
.icon-git:before {
    @include -git();
}
.icon-brackets:before {
    @include -brackets();
}
.icon-cam:before {
    @include -cam();
}
.icon-checked:before {
    @include -checked();
}
.icon-controller:before {
    @include -controller();
}
.icon-gear:before {
    @include -gear();
}
.icon-heartbeat:before {
    @include -heartbeat();
}
.icon-lock:before {
    @include -lock();
}
.icon-players:before {
    @include -players();
}
.icon-runtimejoin:before {
    @include -runtimejoin();
}
.icon-trophy:before {
    @include -trophy();
}
.icon-update:before {
    @include -update();
}
.icon-world:before {
    @include -world();
}
.icon-git-modified:before {
    @include -git-modified();
}
.icon-git-added:before {
    @include -git-added();
}
.icon-git-deleted:before {
    @include -git-deleted();
}
.icon-git-renamed:before {
    @include -git-renamed();
}
.icon-git-copied:before {
    @include -git-copied();
}
.icon-git-updatedUnmerged:before {
    @include -git-unmerged();
}
.icon-git-untracked:before {
    @include -git-untracked();
}
.icon-open-external:before {
    @include -undock();
}
.icon-documentation:before {
    @include -documentation();
}
.icon-screenshots:before {
    @include -gallery-2();
}
.icon-error:before {
    content: "\e90c";
}
.icon-mapwidth:before {
	@include -s-width();
}
.icon-mapheight:before {
	@include -s-height();
}
.icon-mapzoom:before {
	@include -search();
}
.icon-noscan:before {
	content: "NoSc";
}
.icon-map-player-extend:before {
	content: "MPE";
}
.icon-amplitude:before {
	@include -amplitude();
}
.icon-phase:before {
	@include -phase();
}
.icon-period:before {
	@include -period();
}
.icon-random:before {
	@include -random();
}
.icon-liquidlevel:before {
	@include -liquidlevel();
}
.icon-auto-scan-side:before { 
	content: "AutoS";
}
.icon-singleplayer:before { 
	@include -singleplayer();
}
.icon-password:before { 
	@include -lock();
}
.icon-comment:before { 
	@include -comment();
}
.icon-startgame:before { 
	@include -play();
}
.icon-limiter:before { 
	content: "L";
}
.icon-info:before {
    @include -info();
}
.icon-external:before {
    content: "E"; 
}
.icon-hamburger:before {
	@include -hamburger();
}
.icon-hamburger-small:before {
	@include -hamburger-small();
}
.icon-small-settings:before {
	@include -small-settings();
}
.icon-has-ctx-sub:before {
	@include -ctx-submenu-indicator();
}
.icon-plus:before {
	@include -plus();
}
.icon-minus:before {
	@include -minus();
}
.icon-a-nw:before {
	@include -a-nw();
}
.icon-a-n:before {
	@include -a-n();
}
.icon-a-ne:before {
	@include -a-ne();
}
.icon-a-w:before {
	@include -a-w();
}
.icon-a-c:before {
	@include -save2();
}
.icon-a-e:before {
	@include -a-e();
}
.icon-a-sw:before {
	@include -a-sw();
}
.icon-a-s:before {
	@include -a-s();
}
.icon-a-se:before {
	@include -a-se();
}